openapi: 3.2.0
info:
  version: 1.1.0
  title: Collector V2 Plugins API
  description: This API enables you to work with collectors
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Plugins
paths:
  /v2/plugins:
    get:
      tags:
      - Plugins
      summary: Get all the plugins
      description: Get all the plugins.
      operationId: getPlugins
      parameters:
      - name: collector_version
        in: query
        description: The optional collector version associated with the plugins (latest if not provided)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfPluginDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
  /v2/plugins/{name}:
    get:
      tags:
      - Plugins
      summary: Get the named plugin
      description: Get the named plugin.
      operationId: getPlugin
      parameters:
      - name: collector_version
        in: query
        description: The optional collector version associated with the plugin (latest if not provided)
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The plugin name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponsePluginDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogResponseListOfPluginDto:
      type: object
      description: Collector V2 API PluginDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/PluginDto'
      required:
      - status
      - data
    SupportFileDto:
      type: object
      title: Support File Dto
      description: Plugin support file.
      properties:
        plugin_name:
          type: string
          description: The name of the plugin the support file is associated with
        name:
          type: string
          description: The name of the support file
        contents:
          type: string
          description: The contents of the support file
    MoogResponsePluginDto:
      type: object
      description: Collector V2 API PluginDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/PluginDto'
      required:
      - status
      - data
    PluginDto:
      type: object
      title: Plugin Dto
      description: Plugin attributes.
      properties:
        name:
          type: string
        template:
          type: string
        parameters:
          type: object
        docs:
          type: string
        collector_version:
          type: string
        support_files:
          type: array
          items:
            $ref: '#/components/schemas/SupportFileDto'
    MoogFailureResponse:
      type: object
      description: Collector V2 API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Collector V2 API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Collector V2 API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
