openapi: 3.2.0
info:
  version: 4.0.0
  title: Config Menu action categories API
  description: This API allows you to save and retrieve config, catalogs, credentials, watchers, menu actions, and maintenance windows
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Menu action categories
paths:
  /v1/menu-action-categories/{id}:
    patch:
      tags:
      - Menu action categories
      summary: Update the menu action category with the given id
      description: Update the menu action category with the given id.
      operationId: updateMenuActionCategory
      parameters:
      - name: id
        in: path
        description: The menu action category id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMenuActionCategoryDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMenuActionCategoryDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:edit
    get:
      tags:
      - Menu action categories
      summary: Get the menu action category with the given id
      description: Get the menu action category with the given id.
      operationId: getMenuActionCategory
      parameters:
      - name: id
        in: path
        description: The menu action category id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMenuActionCategoryDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
    delete:
      tags:
      - Menu action categories
      summary: Delete the menu action category with the given id
      description: Delete the menu action category with the given id.
      operationId: deleteMenuActionCategory
      parameters:
      - name: id
        in: path
        description: The menu action category id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:edit
  /v1/menu-action-categories:
    get:
      tags:
      - Menu action categories
      summary: Returns any menu action categories that match
      description: Returns any menu action categories that match.
      operationId: findMenuActionCategories
      parameters:
      - name: context_type
        in: query
        description: Menu action category context type
        schema:
          $ref: '#/components/schemas/ContextType'
      - name: name
        in: query
        description: Menu action category name
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfMenuActionCategoryDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
    post:
      tags:
      - Menu action categories
      summary: Create a menu action category
      description: Create a menu action category.
      operationId: createMenuActionCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMenuActionCategoryDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMenuActionCategoryDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:edit
components:
  schemas:
    MenuActionCategoryDto:
      type: object
      title: Menu Action Category Dto
      description: Menu action category attributes.
      properties:
        name:
          type: string
          description: The name of the menu action category.
          pattern: \S
          minLength: 1
          maxLength: 127
        context_type:
          $ref: '#/components/schemas/ContextType'
          description: The context type this menu action category is associated with.
        id:
          type: string
          description: ID of the menu action category
      required:
      - name
      - context_type
    MoogResponseListOfMenuActionCategoryDto:
      type: object
      description: Config API MenuActionCategoryDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/MenuActionCategoryDto'
      required:
      - status
      - data
    BaseMenuActionCategoryDto:
      type: object
      title: Base Menu Action Category Dto
      description: Base menu action category attributes.
      properties:
        name:
          type: string
          description: The name of the menu action category.
          pattern: \S
          minLength: 1
          maxLength: 127
        context_type:
          $ref: '#/components/schemas/ContextType'
          description: The context type this menu action category is associated with.
      required:
      - name
      - context_type
    ContextType:
      type: string
      enum:
      - ALERT
      - INCIDENT
      title: Context Type
    MoogResponseMenuActionCategoryDto:
      type: object
      description: Config API MenuActionCategoryDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/MenuActionCategoryDto'
      required:
      - status
      - data
    MoogFailureResponse:
      type: object
      description: Config API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Config API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Config API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
