openapi: 3.2.0
info:
  version: 3.0.0
  title: /Incidents Alerts API
  description: This API enables you to retrieve and update alerts and incidents, and other APIs relating to them
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Alerts
  description: Alerts generated by Moogsoft Cloud
paths:
  /v2/situation-room/{incidentId}/alerts:
    post:
      tags:
      - Alerts
      summary: Get alerts for an incident, for the situation room
      operationId: getSituationRoomAlertsV2
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SituationRoomAlertsRequestV2'
              __errors__:
                '#/components/schemas/ColumnFilterMap': No foreign doc with id components found
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSituationRoomAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/{alertId}/external-ids/{integrationId}:
    get:
      tags:
      - Alerts
      summary: Get details associated with specific external system
      description: Get details associated with a specific external system in the alert. Returns the systemName and all the details
      operationId: getAlertExternalId
      parameters:
      - name: alertId
        in: path
        description: alert ID
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: integrationId
        in: path
        description: integration ID
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseExternalSystemDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
    patch:
      tags:
      - Alerts
      summary: Add externalID information to an alert
      description: Add details about an external system to the alert
      operationId: patchAlertExternalId
      parameters:
      - name: alertId
        in: path
        description: alert ID
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: integrationId
        in: path
        description: integration ID
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalSystemDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
    delete:
      tags:
      - Alerts
      summary: Delete externalID information to an alert
      description: Delete details about an external system in the alert
      operationId: deleteAlertExternalId
      parameters:
      - name: alertId
        in: path
        description: alert ID
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: integrationId
        in: path
        description: integration ID
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
    post:
      tags:
      - Alerts
      summary: Add externalID information to an alert
      description: Add details about an external system to the alert
      operationId: postAlertExternalId
      parameters:
      - name: alertId
        in: path
        description: alert ID
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: integrationId
        in: path
        description: integration ID
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalSystemDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
  /v1/alerts/{alert_id}/events-timeline:
    get:
      tags:
      - Alerts
      summary: List the event timeline buckets associated with the specified alert
      description: Get the event timeline buckets that represent the count of event severities, for specified interval and start time
      operationId: getEventTimelineByAlertId
      parameters:
      - name: bucket_interval
        in: query
        description: Time interval of each bucket (in seconds).
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
          examples:
          - 3600
        examples:
          default:
            value: 3600
      - name: bucket_start_time
        in: query
        description: Start time of the first bucket. If it is not provided, the default will be considered as the first_event_time.
        schema:
          type: integer
          format: int64
          examples:
          - 1720083965000
        examples:
          default:
            value: 1720083965000
      - name: alert_id
        in: path
        description: ID of the alert to use, returns 404 if there is no alert for the alertId.
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
          examples:
          - 1
        examples:
          default:
            value: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfEventTimelineBucket'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/{alertId}/snapshot:
    get:
      tags:
      - Alerts
      summary: Get an alert snapshots, with highest severity
      description: The alert returned is a snapshot of the earliest and highest severity.
      operationId: getAlertSnapshot
      parameters:
      - name: alertId
        in: path
        description: ID of the alert to use. Returns 404 if there is no alert for the alertId.
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/{alertId}:
    patch:
      tags:
      - Alerts
      summary: Update the "status" or "assignee" or "assigned_groups" field in a specific alert
      description: Updates a single alert.
      operationId: updateAlert
      parameters:
      - name: alertId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
    get:
      tags:
      - Alerts
      summary: Get details of the alert with the specified ID
      description: Returns a single alert.
      operationId: alertDetails
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: alertId
        in: path
        description: ID of the alert to return. Returns 400 (Invalid ID Supplied) if this value is anything other than a non-negative integer.
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/{alertId}/tags:
    patch:
      tags:
      - Alerts
      summary: Overwrite the tags of an alert with the supplied tags
      description: Updates the tags of an alert.
      operationId: updateAlertTags
      parameters:
      - name: alertId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAlertTagsPayloadDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
  /v1/alerts/{alert_id}/events:
    get:
      tags:
      - Alerts
      summary: List event by alertId with given timeline
      description: Get event details for given filter and pagination parameters
      operationId: listEventsByAlertId
      parameters:
      - name: end_time
        in: query
        description: End time to fetch events up to. If not provided then consider alert's last event time as default
        schema:
          type: integer
          format: int64
          examples:
          - 1720083965000
        examples:
          default:
            value: 1720083965000
      - name: limit
        in: query
        description: Maximum number of events to return per page.
        schema:
          type: integer
          format: int32
          exclusiveMinimum: 0
          maximum: 1000
          default: 1000
          examples:
          - 1000
        examples:
          default:
            value: 1000
      - name: offset
        in: query
        description: Number of events to skip
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
          examples:
          - 0
        examples:
          default:
            value: 0
      - name: start_time
        in: query
        description: Start time to fetch events from.
        schema:
          type: integer
          format: int64
          examples:
          - 1720083965000
        examples:
          default:
            value: 1720083965000
      - name: alert_id
        in: path
        description: ID of the alert to use. Returns 404 if there is no alert for the alertId.
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
          examples:
          - 1
        examples:
          default:
            value: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseEventList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/{alertId}/external-ids:
    get:
      tags:
      - Alerts
      summary: Get all externalIds associated with the alert
      description: Get all externalIds associated with the alert. Returns the systemName and all the details
      operationId: getAllAlertExternalIds
      parameters:
      - name: alertId
        in: path
        description: alert ID
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfExternalSystemDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts/snapshot:
    post:
      tags:
      - Alerts
      summary: Get a list of alert snapshots, with highest severity
      description: Each alert returned is a snapshot of the earliest and highest severity.
      operationId: listAlertSnapshots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSnapshotRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/situation-room/{incidentId}/alerts/unlabeled:
    get:
      tags:
      - Alerts
      summary: Get alerts for an incident, that are unlabeled
      description: Get alerts for an incident as recommended alerts to take action on
      operationId: getUnlabeledAlerts
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          exclusiveMinimum: 0
          default: 100
      - name: rc_bucket
        in: query
        schema:
          $ref: '#/components/schemas/PrcBucket'
      - name: sort_by
        in: query
        required: true
        schema:
          type: string
          enum:
          - rc_probability
          - rc_bucket
          description: Specifies the sort criteria to use
          pattern: ^(rc_probability|rc_bucket)$
          default: rc_probability
      - name: sort_order
        in: query
        required: true
        schema:
          type: object
          description: Sort order
          default: desc
      - name: incidentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSituationRoomAlertList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/situation-room/alerts/unlabeled:
    post:
      tags:
      - Alerts
      summary: Get total count of unlabeled incidents/alerts, for a set of incidents
      description: Count number of incidents and alerts that are unlabeled, given a set of incident IDs
      operationId: getUnlabeledCount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlabeledRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseUnlabeledResponseDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/alerts:
    patch:
      tags:
      - Alerts
      summary: Update the "status" or "assignee" or "assigned_groups" field in multiple alerts
      description: Updates bulk alerts.
      operationId: updateAlerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAlertUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:edit
        description: Required user permissions for this endpoint
    post:
      tags:
      - Alerts
      summary: Get a list of all alerts with matching criteria
      description: Get a list of all alerts with matching criteria. Note that all POST requests are limited to a maximum of 10,000 items per query.
      operationId: listAlertsPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAlertsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
    get:
      tags:
      - Alerts
      summary: Get a list of all alerts with matching criteria
      description: Get a list of all alerts with matching criteria. Note that all GET requests are limited to a maximum of 10,000 items per query.
      operationId: listAlerts
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: filter
        in: query
        description: Return only alerts that match this filter.<br>Returns **400 (Invalid parameters)** if the filter format is invalid.
        schema:
          type: string
          examples:
          - '''event count'' > 3 AND severity in (Critical, Major, Minor, Warning)'
        examples:
          default:
            value: '''event count'' > 3 AND severity in (Critical, Major, Minor, Warning)'
      - name: jsonFilter
        in: query
        description: Return only alerts that match this AG-Grid-style JSON filter, such as {"status":{"values":["open","in progress","resolved"],"filterType":"set"}}
        deprecated: true
        schema:
          type: string
      - name: jsonSort
        in: query
        description: Sort the results according to this AG-Grid-style JSON sort info, such as [{"sort":"asc","colId":"severity"}]
        deprecated: true
        schema:
          type: string
      - name: keyword
        in: query
        description: Return only alerts that contain these keywords.
        schema:
          type: string
          examples:
          - compute
        examples:
          default:
            value: compute
      - name: limit
        in: query
        description: Maximum number of alerts to return. This is equivalent to the maximum number of alerts per page. Between 1 and 5
        schema:
          type: integer
          format: int32
          exclusiveMinimum: 0
          maximum: 5000
          default: 100
          examples:
          - 100
        examples:
          default:
            value: 100
      - name: start
        in: query
        description: The starting offset of alerts to retrieve. The initial offset to use is 0 and thereafter is typically multiples of 'limit'. <b>NOTE:</b> 'start' + 'limit' must not exceed 10,000 -- use 'searchAfter' with the listAlertsPost operation instead.
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
          examples:
          - 0
        examples:
          default:
            value: 0
      - name: utcOffset
        in: query
        description: UTC Offset
        schema:
          type: string
          default: GMT-0
          examples:
          - GMT-0
        examples:
          default:
            value: GMT-0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
  /v1/situation-room/{incidentId}/alerts:
    post:
      tags:
      - Alerts
      summary: Get alerts for an incident, for the situation room
      operationId: getSituationRoomAlerts
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SituationRoomAlertsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSituationRoomAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - alerts:view
        description: Required user permissions for this endpoint
components:
  schemas:
    SituationJsonFilterDto:
      type: object
      title: Situation Json Filter Dto
      properties:
        type:
          const: JSON
          description: Declares json filter type
        filter_object:
          $ref: '#/components/schemas/ColumnFilterMap'
          description: Return only alerts that match this AG-Grid-style JSON filter (See ColumnFilter schema).
        sort_criteria:
          type: array
          description: Sort the results according to this AG-Grid-style JSON sort array.
          examples:
          - - sort: asc
              colId: severity
            - sort: desc
              colId: alert_id
          items:
            $ref: '#/components/schemas/AgGridSortColumn'
      required:
      - type
    ListSnapshotRequest:
      type: object
      title: List Snapshot Request
      description: List alert snapshot POST request body.
      properties:
        ids:
          type: array
          description: Unique alert IDs for which to retrieve earliest/highest severity snapshot
          minItems: 1
          examples:
          - - 12
            - 29
          items:
            type: integer
            format: int64
        fields:
          type: array
          description: Subset of fields to return (default is all non-null alert fields)
          items:
            type: string
      required:
      - ids
    SortOrder:
      type: string
      enum:
      - asc
      - desc
      title: Sort Order
      default: desc
    DateColumnFilter:
      type: object
      title: Date Column Filter
      description: Filter a date-based column based on date or date ranges, and a comparison type<br>filterType = "date"
      properties:
        type:
          $ref: '#/components/schemas/ComparisonType'
          description: Comparison operator
        dateFrom:
          type: string
          description: Date filter value to used with comparison operator
        dateTo:
          type: string
          description: Date filter value to used when comparison operator is inRange
        filterType:
          const: date
          description: Declares date filterType
      required:
      - type
      - filterType
    UnlabeledResponseDto:
      type: object
      title: Unlabeled Response Dto
      properties:
        total_incidents:
          type: integer
          format: int64
        total_alerts:
          type: integer
          format: int64
        unlabeled_counts:
          type: object
          additionalProperties:
            type: integer
            format: int64
    BulkAlertUpdateRequest:
      type: object
      title: Bulk Alert Update Request
      properties:
        status:
          $ref: '#/components/schemas/Status'
        assignee:
          type: string
          description: Username of the assignee, specified as one string. Returns an error if the username is not found.
          examples:
          - john.doe@company.com
        assigned_groups:
          type: array
          description: An array of group ids or group names, returns error if any of them not found
          examples:
          - - groupid1
            - groupid2
          uniqueItems: true
          items:
            type: string
        ids:
          type: array
          description: Unique alert ids to update
          minItems: 1
          examples:
          - - 12
            - 29
          uniqueItems: true
          items:
            type: integer
            format: int64
      required:
      - ids
    MoogFailureResponse:
      type: object
      description: Alerts/Incidents API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    Severity:
      type: string
      enum:
      - clear
      - unknown
      - warning
      - minor
      - major
      - critical
      title: Severity
      description: Severity Level (case-insensitive)
    AlertPrc:
      type: object
      title: SituationRoomAlertDetails
      properties:
        rc_probability:
          type: number
          description: The computed root cause probability, 0.0 - 1.0, if any
        rc_label:
          $ref: '#/components/schemas/PrcLabel'
          description: The user-assigned label, if any
        rc_bucket:
          $ref: '#/components/schemas/PrcBucket'
          description: 'The computed level: high, medium, low'
    MoogResponseEventList:
      type: object
      description: Alerts/Incidents API EventList response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/EventList'
      required:
      - status
      - data
    SetColumnFilter:
      type: object
      title: Set Column Filter
      description: Filter a column based on a set of values provided for comparison<br>filterType = "set"
      properties:
        type:
          $ref: '#/components/schemas/ComparisonType'
          description: Comparison operator
        values:
          type: array
          description: Set filter value(s) to used with comparison operator
          items:
            type: string
        filterType:
          const: set
          description: Declares set filterType
      required:
      - type
      - values
      - filterType
    MoogResponseUnlabeledResponseDto:
      type: object
      description: Alerts/Incidents API UnlabeledResponseDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/UnlabeledResponseDto'
      required:
      - status
      - data
    QueryFilter:
      type: object
      title: Query Filter
      description: Types of inputs for the queryFilter.
      oneOf:
      - $ref: '#/components/schemas/SituationTextFilterDto'
      - $ref: '#/components/schemas/SituationJsonFilterDto'
    EventTimelineDto:
      type: object
      title: Event Timeline Dto
      properties:
        event_id:
          type: string
        source:
          type: string
        check:
          type: string
        severity:
          $ref: '#/components/schemas/Severity'
        description:
          type: string
        dedupe_key:
          type: string
        time:
          type: integer
          format: int64
        services:
          type: array
          items:
            type: string
        alias:
          type: string
        utc_offset:
          type: string
        manager:
          type: string
        manager_id:
          type: string
        class:
          type: string
        namespace:
          type: string
        maintenance:
          type: string
        type:
          type: string
        tags:
          type: object
        location:
          $ref: '#/components/schemas/LocationDto'
        policy:
          type: string
        additional_info:
          type: object
        sequence_id:
          type: integer
          format: int32
      required:
      - source
      - check
      - severity
      - description
    ComparisonType:
      type: string
      enum:
      - equals
      - notEqual
      - contains
      - notContains
      - startsWith
      - endsWith
      - lessThan
      - lessThanOrEqual
      - greaterThan
      - greaterThanOrEqual
      - inRange
      - blank
      - notBlank
      - exactMatch
      - notExactMatch
      title: Comparison Type
      description: Comparison operator type to use for the filter
    ExternalSystemDto:
      type: object
      title: External System Dto
      properties:
        integration_id:
          type: string
        external_name:
          type: string
        external_id:
          type: string
        external_link:
          type: string
        integration_name:
          type: string
        integration_type:
          type: string
    MaintenanceWindowStatDto:
      type: object
      title: Maintenance Window Stat Dto
      properties:
        window_id:
          type: string
          description: unique id of the maintenance window
        occurrence_id:
          type: string
          description: unique id of the maintenance window occurrence
        enter:
          type: integer
          description: Epoch timestamp in millis of when the alert entered maintenance
          format: int64
        exit:
          type: integer
          description: Epoch timestamp in millis of when the alert left maintenance
          format: int64
    ListAlertsRequest:
      type: object
      title: List Alerts Request
      description: List alerts POST request body.
      properties:
        filter:
          type: string
          description: Return only alerts that match this filter.<br>Returns **400 (Invalid parameters)** if the filter format is invalid.
          examples:
          - '''event count'' > 3 AND severity in (Critical, Major, Minor, Warning)'
        json_filter:
          type: object
          description: Return only alerts that match this AG-Grid-style JSON filter. Each filter can be of a different filterType.
          additionalProperties:
            $ref: '#/components/schemas/ColumnFilter'
          examples:
          - status:
              values:
              - open
              - in progress
              - resolved
              filterType: set
        json_sort:
          type: array
          description: Sort the results according to this AG-Grid-style JSON sort array.
          examples:
          - - sort: asc
              colId: severity
            - sort: desc
              colId: alert_id
          items:
            $ref: '#/components/schemas/AgGridSortColumn'
        keyword:
          type: string
          description: Return only alerts that contain these keywords.
        utc_offset:
          type: string
          description: UTC Offset
          default: GMT-0
        start:
          type: integer
          description: The starting offset of alerts to retrieve. The initial offset to use is 0 and thereafter is typically multiples of 'limit'. <b>NOTE:</b> 'start' + 'limit' must not exceed 10,000 -- use 'searchAfter' instead.
          format: int32
          minimum: 0
          default: 0
        limit:
          type: integer
          description: Maximum number of alerts to return. This is equivalent to the maximum number of alerts per page. Between 1 and 5000
          format: int32
          exclusiveMinimum: 0
          maximum: 5000
          default: 100
        sort_by:
          type: string
          description: Field to sort by
        sort_order:
          $ref: '#/components/schemas/SortOrder'
          description: Sort order
        search_after:
          type: array
          description: When needing to scroll through a large number of alerts, this parameter can be used instead of 'start' to proceed with alerts that follow the previous search result. The 'searchAfter' from the previous response must be provided along with the same filter and sort criteria. All results are exhausted when a search response includes no more alerts.
        fields:
          type: array
          description: Subset of fields to return (default is all non-null alert fields
          items:
            type: string
    Status:
      type: string
      enum:
      - error
      - open
      - in progress
      - superseded
      - resolved
      - closed
      title: Status
      description: Status for incidents and alerts (case-insensitive)
    SituationRoomAlertList:
      type: object
      title: Situation Room Alert List
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/SituationRoomAlertDto'
        count:
          type: integer
          format: int64
    AlertDto:
      type: object
      title: AlertDetails
      properties:
        status:
          $ref: '#/components/schemas/Status'
          description: alert/incident status
        severity:
          $ref: '#/components/schemas/Severity'
          description: alert/incident severity level
        severity_high_water:
          $ref: '#/components/schemas/Severity'
          description: alert/incident high-water severity level
        assignee:
          type: string
          description: email of the user who is assigned to the alert/incident
          examples:
          - test@moogsoft.com
        assigned_groups:
          type: array
          description: An array of group ids
          examples:
          - - goupid1
            - groupid2
          items:
            type: string
        first_event_time:
          type: integer
          description: Epoch timestamp in seconds of the first event for this alert/incident
          format: int64
          examples:
          - 1607985505
        last_event_time:
          type: integer
          description: Epoch timestamp in seconds of the last event for this alert/incident
          format: int64
          examples:
          - 1607985505
        description:
          type: string
          description: description that usually contains the alert/incident ID, source and service
          examples:
          - '1 Source: www.your-source.com Affected retail, support

            '
        status_numeric:
          type: integer
          format: int32
        severity_numeric:
          type: integer
          format: int32
        severity_high_water_numeric:
          type: integer
          format: int32
        alert_id:
          type: integer
          format: int64
        class:
          type: string
        event_count:
          type: integer
          format: int32
        manager_id:
          type: string
        location:
          type: object
          description: Mapping of location name/value pairs
          examples:
          - street: 1234 Battery St.
            city: San Francisco
            state: CA
            postcode: '95454'
        service:
          type: array
          items:
            type: string
        incidents:
          type: array
          items:
            type: integer
            format: int64
        source:
          type: string
        in_maintenance:
          type: boolean
          description: Boolean indicating if the alert is currently in maintenance
        maintenance:
          type: string
          description: The id of the current or most recent maintenance window occurrence the alert was in
        maintenance_windows:
          type: array
          description: Set of all maintenance windows and occurrences the alert has been associated with
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MaintenanceWindowStatDto'
        tags:
          type: object
          description: Mapping of tag name/value pairs
          examples:
          - key1: value1
            key2: value2
        namespace:
          type: string
        manager:
          type: string
        dedupe_key:
          type: string
        created_at:
          type: integer
          description: Epoch timestamp in seconds indicating when the alert was created
          format: int64
          examples:
          - 1607985505
        last_status_change_time:
          type: integer
          format: int64
        alias:
          type: string
        check:
          type: string
        type:
          type: string
        policy:
          type: string
        external_details:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSystemDto'
        external_names:
          type: array
          items:
            type: string
    SortCriteriaDto:
      type: object
      title: Sort Criteria Dto
      properties:
        sort_by:
          type: string
        sort_order:
          $ref: '#/components/schemas/SortOrder'
    SetAlertTagsPayloadDto:
      type: object
      title: Set Alert Tags Payload Dto
      properties:
        tags:
          type: object
          description: The tags being added to the alert.
          additionalProperties:
            type: string
      required:
      - tags
    MoogResponseListOfExternalSystemDto:
      type: object
      description: Alerts/Incidents API ExternalSystemDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSystemDto'
      required:
      - status
      - data
    UnlabeledRequestDto:
      type: object
      title: Unlabeled Request Dto
      properties:
        incident_ids:
          type: array
          description: Set of unique incident IDs which are to be queried
          minItems: 1
          uniqueItems: true
          items:
            type: integer
            format: int64
      required:
      - incident_ids
    ColumnFilter:
      type: object
      title: Column Filter
      description: Polymorphic column filter, based upon filterType
      oneOf:
      - $ref: '#/components/schemas/DateColumnFilter'
      - $ref: '#/components/schemas/NumberColumnFilter'
      - $ref: '#/components/schemas/SetColumnFilter'
      - $ref: '#/components/schemas/TextColumnFilter'
      - $ref: '#/components/schemas/BooleanColumnFilter'
      discriminator:
        propertyName: filterType
        mapping:
          text: '#/components/schemas/TextColumnFilter'
          set: '#/components/schemas/SetColumnFilter'
          number: '#/components/schemas/NumberColumnFilter'
          date: '#/components/schemas/DateColumnFilter'
          boolean: '#/components/schemas/BooleanColumnFilter'
    MoogResponseListOfAlertDto:
      type: object
      description: Alerts/Incidents API AlertDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlertDto'
      required:
      - status
      - data
    TextColumnFilter:
      type: object
      title: Text Column Filter
      description: Filter a text column based on a string comparison<br>filterType = "text"
      properties:
        type:
          $ref: '#/components/schemas/ComparisonType'
          description: Comparison operator
        filter:
          type: string
          description: Text filter value to used with comparison operator
        filterType:
          const: text
          description: Declares text filterType
      required:
      - type
      - filterType
    SituationRoomAlertsRequestV2:
      type: object
      title: Situation Room Alerts Request V2
      description: Situation Room alerts POST request body.
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
          description: The filter type and object to retrieve data by
        start:
          type: integer
          description: The starting offset of alerts to retrieve. The initial offset to use is 0 and thereafter is typically multiples of 'limit'. <b>NOTE:</b> 'start' + 'limit' must not exceed 10,000 -- use 'searchAfter' instead.
          format: int32
          minimum: 0
          default: 0
        limit:
          type: integer
          description: Maximum number of alerts to return. This is equivalent to the maximum number of alerts per page. Between 1 and 5000
          format: int32
          exclusiveMinimum: 0
          maximum: 5000
          default: 100
        fields:
          type: array
          description: Subset of fields to return (default is all non-null alert fields
          examples:
          - []
          items:
            type: string
      required:
      - filter
    EventTimelineBucket:
      type: object
      title: Event Timeline Bucket
      properties:
        start_time:
          type: integer
          description: Bucket start time in epoch timestamp in milliseconds
          format: int64
          examples:
          - 1720083965000
        end_time:
          type: integer
          description: Bucket end time in epoch timestamp in milliseconds
          format: int64
          examples:
          - 1720084565000
        severity_count:
          type: object
          description: Bucket severity count
          additionalProperties:
            type: integer
            format: int32
          examples:
          - critical: 5
            major: 2
            minor: 3
    AlertList:
      type: object
      title: Alert List
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/AlertDto'
        count:
          type: integer
          format: int64
        search_after:
          type: array
          description: When needing to scroll through a large number of alerts, the value of this field can be provided to the 'searchAfter' parameter of the next query invocation.
        searchAfter:
          type: array
          description: Use search_after instead
          readOnly: true
          x-deprecated: true
    BooleanColumnFilter:
      type: object
      title: Boolean Column Filter
      description: Filter a boolean column based on a boolean comparison<br>filterType = "boolean"
      properties:
        type:
          $ref: '#/components/schemas/ComparisonType'
          description: Comparison operator
        filter:
          type: boolean
          description: Boolean value to used for comparison
        filterType:
          const: boolean
          description: Declares boolean filterType
      required:
      - type
      - filter
      - filterType
    MoogResponseExternalSystemDto:
      type: object
      description: Alerts/Incidents API ExternalSystemDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/ExternalSystemDto'
      required:
      - status
      - data
    NumberColumnFilter:
      type: object
      title: Number Column Filter
      description: Filter a numeric column based on numeric value(s) and a comparison type<br>filterType = "number"
      properties:
        type:
          $ref: '#/components/schemas/ComparisonType'
          description: Comparison operator
        filter:
          type: integer
          description: Numeric filter value to used with comparison operator
          format: int64
        filterTo:
          type: integer
          description: Numeric filter value to used when comparison operator is inRange
          format: int64
        filterType:
          const: number
          description: Declares number filterType
      required:
      - type
      - filterType
    SituationRoomAlertDto:
      type: object
      title: SituationRoomAlertDetails
      properties:
        status:
          $ref: '#/components/schemas/Status'
          description: alert/incident status
        severity:
          $ref: '#/components/schemas/Severity'
          description: alert/incident severity level
        severity_high_water:
          $ref: '#/components/schemas/Severity'
          description: alert/incident high-water severity level
        assignee:
          type: string
          description: email of the user who is assigned to the alert/incident
          examples:
          - test@moogsoft.com
        assigned_groups:
          type: array
          description: An array of group ids
          examples:
          - - goupid1
            - groupid2
          items:
            type: string
        first_event_time:
          type: integer
          description: Epoch timestamp in seconds of the first event for this alert/incident
          format: int64
          examples:
          - 1607985505
        last_event_time:
          type: integer
          description: Epoch timestamp in seconds of the last event for this alert/incident
          format: int64
          examples:
          - 1607985505
        description:
          type: string
          description: description that usually contains the alert/incident ID, source and service
          examples:
          - '1 Source: www.your-source.com Affected retail, support

            '
        status_numeric:
          type: integer
          format: int32
        severity_numeric:
          type: integer
          format: int32
        severity_high_water_numeric:
          type: integer
          format: int32
        alert_id:
          type: integer
          format: int64
        class:
          type: string
        event_count:
          type: integer
          format: int32
        manager_id:
          type: string
        location:
          type: object
          description: Mapping of location name/value pairs
          examples:
          - street: 1234 Battery St.
            city: San Francisco
            state: CA
            postcode: '95454'
        service:
          type: array
          items:
            type: string
        incidents:
          type: array
          items:
            type: integer
            format: int64
        source:
          type: string
        in_maintenance:
          type: boolean
          description: Boolean indicating if the alert is currently in maintenance
        maintenance:
          type: string
          description: The id of the current or most recent maintenance window occurrence the alert was in
        maintenance_windows:
          type: array
          description: Set of all maintenance windows and occurrences the alert has been associated with
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MaintenanceWindowStatDto'
        tags:
          type: object
          description: Mapping of tag name/value pairs
          examples:
          - key1: value1
            key2: value2
        namespace:
          type: string
        manager:
          type: string
        dedupe_key:
          type: string
        created_at:
          type: integer
          description: Epoch timestamp in seconds indicating when the alert was created
          format: int64
          examples:
          - 1607985505
        last_status_change_time:
          type: integer
          format: int64
        alias:
          type: string
        check:
          type: string
        type:
          type: string
        policy:
          type: string
        external_details:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSystemDto'
        external_names:
          type: array
          items:
            type: string
        root_cause:
          $ref: '#/components/schemas/AlertPrc'
    SituationTextFilterDto:
      type: object
      title: Situation Text Filter Dto
      properties:
        type:
          const: TEXT
          description: Declares text filter type
        filter_object:
          type: string
        sort_criteria:
          $ref: '#/components/schemas/SortCriteriaDto'
      required:
      - type
    MoogResponseAlertDto:
      type: object
      description: Alerts/Incidents API AlertDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/AlertDto'
      required:
      - status
      - data
    MoogResponseSituationRoomAlertList:
      type: object
      description: Alerts/Incidents API SituationRoomAlertList response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/SituationRoomAlertList'
      required:
      - status
      - data
    PrcLabel:
      type: string
      enum:
      - RootCause
      - NonCausal
      - DontKnow
      title: Prc Label
      description: Root-Cause Label (case-insensitive)
    EventList:
      type: object
      title: Event List
      properties:
        total_results:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: '#/components/schemas/EventTimelineDto'
    GeoLocationDto:
      type: object
      title: GeoLocation
      properties:
        lat:
          type: number
          format: float
        long:
          type: number
          format: float
    AlertUpdateRequest:
      type: object
      title: Alert Update Request
      properties:
        status:
          $ref: '#/components/schemas/Status'
        assignee:
          type: string
          description: Username of the assignee, specified as one string. Returns an error if the username is not found.
          examples:
          - john.doe@company.com
        assigned_groups:
          type: array
          description: An array of group ids or group names, returns error if any of them not found
          examples:
          - - groupid1
            - groupid2
          uniqueItems: true
          items:
            type: string
    SituationRoomAlertsRequest:
      type: object
      title: Situation Room Alerts Request
      description: Situation Room alerts POST request body.
      properties:
        json_filter:
          type: object
          description: Return only alerts that match this AG-Grid-style JSON filter. Each filter can be of a different filterType.
          additionalProperties:
            $ref: '#/components/schemas/ColumnFilter'
          examples:
          - status:
              values:
              - open
              - in progress
              - resolved
              filterType: set
        json_sort:
          type: array
          description: Sort the results according to this AG-Grid-style JSON sort array.
          examples:
          - - sort: asc
              colId: severity
            - sort: desc
              colId: alert_id
          items:
            $ref: '#/components/schemas/AgGridSortColumn'
        start:
          type: integer
          description: The starting offset of alerts to retrieve. The initial offset to use is 0 and thereafter is typically multiples of 'limit'. <b>NOTE:</b> 'start' + 'limit' must not exceed 10,000 -- use 'searchAfter' instead.
          format: int32
          minimum: 0
          default: 0
        limit:
          type: integer
          description: Maximum number of alerts to return. This is equivalent to the maximum number of alerts per page. Between 1 and 5000
          format: int32
          exclusiveMinimum: 0
          maximum: 5000
          default: 100
        fields:
          type: array
          description: Subset of fields to return (default is all non-null alert fields
          items:
            type: string
    PrcBucket:
      type: string
      enum:
      - High
      - Medium
      - Low
      title: Prc Bucket
      description: Root-Cause Level (case-insensitive)
    AgGridSortColumn:
      type: object
      title: Ag Grid Sort Column
      description: Sorting criteria to use for searches
      properties:
        colId:
          type: string
          description: The column on which to sort
          minLength: 1
        sort:
          type: string
          enum:
          - asc
          - desc
          description: The direction in which to sort
          pattern: asc|desc
      required:
      - colId
      - sort
    MoogResponseAlertList:
      type: object
      description: Alerts/Incidents API AlertList response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/AlertList'
      required:
      - status
      - data
    LocationDto:
      type: object
      title: Location
      properties:
        street:
          type: string
        building:
          type: string
        suite:
          type: integer
          format: int32
        floor:
          type: string
        city:
          type: string
        state_or_province:
          type: string
        country:
          type: string
        postcode:
          type: string
        geo_coordinates:
          $ref: '#/components/schemas/GeoLocationDto'
        rack:
          type: string
        aisle:
          type: string
        u_position:
          type: string
        region:
          type: string
        data_center:
          type: string
        availability_zone:
          type: string
        geo_coordinates_lat:
          type: integer
          format: int32
        geo_coordinates_long:
          type: integer
          format: int32
    MoogErrorResponse:
      type: object
      description: Alerts/Incidents API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseListOfEventTimelineBucket:
      type: object
      description: Alerts/Incidents API EventTimelineBucket response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventTimelineBucket'
      required:
      - status
      - data
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Alerts/Incidents API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
