openapi: 3.2.0
info:
  version: 1.0.0
  title: User Apikeys API
  description: API for User Service
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: API Keys
  description: Endpoints relating to API key operations
paths:
  /v1/keys:
    get:
      tags:
      - API Keys
      summary: Get all API keys in the system
      description: Get all API keys currently in the system
      operationId: getAllApiKeys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfApiKeyDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - user:view
        description: Required user permissions for this endpoint
    delete:
      tags:
      - API Keys
      summary: Delete API keys in the system
      description: Delete one or more API keys in the system
      operationId: deleteMultipleApiKeys
      parameters:
      - name: id
        in: query
        description: List of key ids to be deleted
        required: true
        schema:
          type: array
          examples:
          - - key_id_1
            - key_id_2
          items:
            type: string
        examples:
          default:
            value:
            - key_id_1
            - key_id_2
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - user:edit
        description: Required user permissions for this endpoint
components:
  schemas:
    Date:
      type: number
      title: Date
      format: int64
      examples:
      - '2022-03-10'
    MoogFailureResponse:
      type: object
      description: User API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseListOfApiKeyDto:
      type: object
      description: User API ApiKeyDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyDto'
      required:
      - status
      - data
    ApiKeyDto:
      type: object
      title: Api Key Dto
      properties:
        name:
          type: string
          pattern: \S
          minLength: 1
          maxLength: 127
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
        id:
          type: string
        createdAt:
          $ref: '#/components/schemas/Date'
        userId:
          type: string
        userEmail:
          type: string
        apiKey:
          type: string
      required:
      - name
    MoogErrorResponse:
      type: object
      description: User API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing User API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
