openapi: 3.2.0
info:
  version: 1.0.0
  title: Similar Incidents Service Incident Similarity API
  description: API for the similar incidents service.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: incident-similarity
paths:
  /v1/incident-similarity:
    post:
      tags:
      - incident-similarity
      summary: Returns the set of similar incidents for a given target incident
      description: Finds and returns the set of incidents similar to a given target incident ID.
      operationId: getIncidentSimilarity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentSimilarityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentSimilarityResult'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incidents:view
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogResponseIncidentSimilarityResult:
      type: object
      title: Moog Response Incident Similarity Result
      description: Similar Incidents Service API IncidentSimilarityResult response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/IncidentSimilarityResult'
      required:
      - status
      - data
    IncidentSimilarityResult:
      type: object
      title: Incident Similarity Result
      description: Inference result from similar-incidents.
      properties:
        result:
          $ref: '#/components/schemas/IncidentSimilarityDto'
    IncidentSimilarityRequest:
      type: object
      title: Incident Similarity Request
      description: A request to get the similarity between 2 incidents
      properties:
        refIncidentID:
          type: integer
          format: int64
          exclusiveMinimum: 0
        cmpIncidentID:
          type: integer
          format: int64
          exclusiveMinimum: 0
      required:
      - refIncidentID
      - cmpIncidentID
    MoogFailureResponse:
      type: object
      description: Similar Incidents Service API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Similar Incidents Service API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    IncidentSimilarityDto:
      type: object
      title: Incident Similarity Dto
      properties:
        similarity:
          type: number
          format: double
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Similar Incidents Service API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
