openapi: 3.2.0
info:
  version: 1.3.0
  title: Workflow Engine Workflow Dependent On API
  description: This API enables you to create and manage workflows
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: workflow-dependent-on
  description: Resources associated with workflows
paths:
  /v1/workflows-dependent-on:
    get:
      tags:
      - workflow-dependent-on
      summary: Retrieve workflows dependent on resource
      description: Fetches a list of workflows that are dependent on the specified resource
      operationId: getWorkflowsDependentOnResource
      parameters:
      - name: resource_name
        in: query
        description: The name of the resource for which dependencies are to be found
        required: true
        schema:
          type: string
          pattern: \S
      - name: resource_type
        in: query
        description: The type of the resource for which dependencies are to be found
        required: true
        schema:
          $ref: '#/components/schemas/ResourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfWorkflowDependentOnResponseDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value: []
components:
  schemas:
    ResourceType:
      const: CATALOG
      title: Resource Type
      description: Representing different types of resources used by workflow action
    WorkflowType:
      type: string
      enum:
      - EVENT
      - ALERT
      - INCIDENT
      - ALERT_STANDALONE
      - INCIDENT_STANDALONE
      title: Workflow Type
    MoogResponseListOfWorkflowDependentOnResponseDto:
      type: object
      title: Moog Response List Of Workflow Dependent On Response Dto
      description: Workflow Engine API WorkflowDependentOnResponseDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowDependentOnResponseDto'
      required:
      - status
      - data
    WorkflowDependentOnResponseDto:
      type: object
      title: Workflow Dependent On Response Dto
      description: Response DTO used to represent workflow that is dependent on resources
      properties:
        id:
          type: string
          description: ID of the workflow
        name:
          type: string
          description: Name of the workflow
        type:
          $ref: '#/components/schemas/WorkflowType'
          description: Type of the workflow
    MoogFailureResponse:
      type: object
      description: Workflow Engine API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Workflow Engine API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Workflow Engine API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
