openapi: 3.1.0
info:
  version: 4.0.0
  title: Config API
  description: 'This API allows you to save and retrieve config, catalogs, credentials, watchers, menu actions, and maintenance windows'
  termsOfService: 'https://www.moogsoft.com/legal-information/express-terms-conditions/'
  contact:
    name: API Support
    url: 'https://docs.moogsoft.com/en/moogsoft-apis.html'
    email: support@moogsoft.com
  license:
    url: 'https://www.moogsoft.com/legal-information'
    name: Apex AIOps Incident Management Proprietary
servers:
  - url: 'https://api.moogsoft.ai'
  - url: 'https://api.dev.moogsoft.cloud'
paths:
  /v2/catalogs:
    get:
      tags:
        - catalogs
      summary: Returns all catalogs.
      description: ' Returns all catalogs.'
      operationId: getCatalogsV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfCatalog'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
    post:
      tags:
        - catalogs
      summary: 'Creates a new, empty catalog.'
      description: 'Creates a new, empty catalog.'
      operationId: createNewEmptyCatalogV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Catalog'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCatalog'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  /v2/catalogs/settings:
    get:
      tags:
        - catalogs
      summary: Returns catalog settings.
      description: ' Returns catalogs settings.'
      operationId: getCatalogSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCatalogSettings'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
  '/v2/catalogs/{id}':
    get:
      tags:
        - catalogs
      summary: Returns the catalog with the given id.
      description: Returns the catalog with the given id.
      operationId: getCatalogV2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCatalog'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
    delete:
      tags:
        - catalogs
      summary: Deletes the catalog and content documents (by catalog id).
      description: Deletes the catalog and content documents (by catalog id)
      operationId: deleteCatalogV2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v2/catalogs/{id}/batch':
    post:
      tags:
        - catalogs
      summary: Adds a batch of new documents to the catalog.
      description: |-
        Adds a batch of new documents to the catalog. The documents should conform to the catalog schema.
        Note — The document keys in your request are case-sensitive. They should match exactly the field names defined in the catalog schema.
        Send a GET catalogs request to check the schema.
      operationId: addCatalogDocumentsV2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Add documents data
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/DocumentDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfstring'
                __errors__:
                  '#/components/schemas/MoogResponseListOfstring': No foreign doc with id components found
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v2/catalogs/{id}/documents':
    get:
      tags:
        - catalogs
      summary: Returns the matching documents in the catalog.
      description: Returns the matching documents in the catalog.
      operationId: queryCatalogDocumentsV2
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
        default:
          description: List of Documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfDocumentDto'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
    post:
      tags:
        - catalogs
      summary: Adds a new document (row) to the catalog.
      description: |-
        Adds a new document (row) to the catalog. The document should conform to the catalog schema.
        Note — The document keys in your request are case-sensitive. They should match exactly the field names defined in the catalog schema.
        Send a GET catalogs request to check the schema.
      operationId: addCatalogDocumentV2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Add document data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfstring'
                __errors__:
                  '#/components/schemas/MoogResponseListOfstring': No foreign doc with id components found
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v2/catalogs/{id}/documents/{documentId}':
    put:
      tags:
        - catalogs
      summary: Replaces a document in the catalog.
      description: Replaces a document in the catalog.
      operationId: replaceCatalogDocumentV2
      parameters:
        - name: documentId
          in: path
          description: The unique identifier of the document (row) in the catalog.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The unique identifier of the catalog where the document (row) is located.
          required: true
          schema:
            type: string
      requestBody:
        description: Update document data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
    patch:
      tags:
        - catalogs
      summary: Modifies a document in the catalog.
      description: Modifies a document in the catalog.
      operationId: modifyCatalogDocumentV2
      parameters:
        - name: documentId
          in: path
          description: The unique identifier of the document (row) in the catalog.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The unique identifier of the catalog where the document (row) is located.
          required: true
          schema:
            type: string
      requestBody:
        description: Update document data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
    get:
      tags:
        - catalogs
      summary: Returns a document from the catalog.
      description: Returns a document from the catalog.
      operationId: getCatalogDocumentV2
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
        default:
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseDocumentDto'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
    delete:
      tags:
        - catalogs
      summary: Deletes a single document in a catalog (by catalog id).
      description: Deletes a single document in a catalog (by catalog id).
      operationId: deleteCatalogDocumentV2
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v2/catalogs/{id}/search':
    post:
      tags:
        - catalogs
      summary: Returns the matching documents in the catalog.
      description: Returns the matching documents in the catalog. This is a POST rather than a GET due to the JSON body.
      operationId: searchCatalogDocumentsV2
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: 'Dictionary of AND''ed key/column and value pairs to be searched. Values are treated as an exact match and if the queried value is a string, then it is case-insensitive.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
        default:
          description: List of Documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfDocumentDto'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
  /v2/correlation/definitions:
    get:
      tags:
        - correlation-definitions
      summary: Fetches all correlation definitions.
      description: Fetches all correlation definitions.
      operationId: getAllCorrelationDefinitions
      parameters:
        - name: include-catch-all
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfCorrelationDefinitionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    post:
      tags:
        - correlation-definitions
      summary: Creates a new correlation definition record.
      description: Creates a new correlation definition record. The record is identified by its name (given in the request body).The name cannot be changed in the future.
      operationId: createCorrelationDefinition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationDefinitionDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationDefinitionDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  '/v2/correlation/definitions/id/{identifier}':
    patch:
      tags:
        - correlation-definitions
      summary: Edits the correlation definition identified in the path parameter (either the id or the name).
      description: Edits the correlation definition identified in the path parameter (either the id or the name).
      operationId: modifyCorrelationDefinition2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationDefinitionDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationDefinitionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
    get:
      tags:
        - correlation-definitions
      summary: Fetches correlation definition matching the identifier in the path parameter (either the id or the name).
      description: Fetches correlation definition matching the identifier in the path parameter (either the id or the name).
      operationId: getDefinition2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationDefinitionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    delete:
      tags:
        - correlation-definitions
      summary: Deletes the correlation definition identified in the path parameter (either the id or the name).
      description: Deletes the correlation definition identified in the path parameter (either the id or the name).
      operationId: deleteCorrelationDefinition2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  '/v2/correlation/definitions/{identifier}':
    patch:
      tags:
        - correlation-definitions
      summary: Edits the correlation definition identified in the path parameter (either the id or the name).
      description: Edits the correlation definition identified in the path parameter (either the id or the name).
      operationId: modifyCorrelationDefinition
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationDefinitionDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationDefinitionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
    get:
      tags:
        - correlation-definitions
      summary: Fetches correlation definition matching the identifier in the path parameter (either the id or the name).
      description: Fetches correlation definition matching the identifier in the path parameter (either the id or the name).
      operationId: getDefinition
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationDefinitionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    delete:
      tags:
        - correlation-definitions
      summary: Deletes the correlation definition identified in the path parameter (either the id or the name).
      description: Deletes the correlation definition identified in the path parameter (either the id or the name).
      operationId: deleteCorrelationDefinition
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  /v2/correlation/groups:
    get:
      tags:
        - correlation-groups
      summary: Fetches all correlation groups.
      description: Fetches all correlation groups.
      operationId: getAllCorrelationGroups
      parameters:
        - name: inline-definitions
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfCorrelationGroupDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    post:
      tags:
        - correlation-groups
      summary: Creates a new correlation group record.
      description: Creates a new correlation group record. The record is identified by its name (given in the request body).The name cannot be changed in the future.
      operationId: createCorrelationGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationGroupDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationGroupDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  '/v2/correlation/groups/id/{identifier}':
    patch:
      tags:
        - correlation-groups
      summary: Edits the correlation group identified in the path parameter (either the id or the name).
      description: Edits the correlation group identified in the path parameter (either the id or the name).
      operationId: modifyCorrelationGroup2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationGroupDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationGroupDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
    get:
      tags:
        - correlation-groups
      summary: Fetches the correlation group identified in the path parameter (either the id or the name).
      description: Fetches the correlation group identified in the path parameter (either the id or the name).
      operationId: getGroup2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationGroupDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    delete:
      tags:
        - correlation-groups
      summary: Deletes the correlation group identified in the path parameter (either the id or the name).
      description: Deletes the correlation group identified in the path parameter (either the id or the name).
      operationId: deleteCorrelationGroup2
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  '/v2/correlation/groups/{identifier}':
    patch:
      tags:
        - correlation-groups
      summary: Edits the correlation group identified in the path parameter (either the id or the name).
      description: Edits the correlation group identified in the path parameter (either the id or the name).
      operationId: modifyCorrelationGroup
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationGroupDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationGroupDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
    get:
      tags:
        - correlation-groups
      summary: Fetches the correlation group identified in the path parameter (either the id or the name).
      description: Fetches the correlation group identified in the path parameter (either the id or the name).
      operationId: getGroup
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCorrelationGroupDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:view'
    delete:
      tags:
        - correlation-groups
      summary: Deletes the correlation group identified in the path parameter (either the id or the name).
      description: Deletes the correlation group identified in the path parameter (either the id or the name).
      operationId: deleteCorrelationGroup
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'correlation:edit'
  '/v3/catalogs/{catalogName}/search':
    post:
      tags:
        - catalogs
      summary: Returns the matching documents in the catalog.
      description: Returns the matching documents in the catalog. This is a POST rather than a GET due to the JSON body.
      operationId: searchCatalogDocumentsV3
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: '50'
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: 'List of AND''ed SearchFieldDto to be searched. Values are treated as an exact match and if the queried value is a string, then it is case-insensitive.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchFieldsDto'
      responses:
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
        default:
          description: List of Documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfDocumentDto'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
  '/v1/catalogs/{catalogName}/documents/{documentId}':
    patch:
      tags:
        - catalogs
      summary: Modifies a document in the catalog.
      description: Modifies a document in the catalog.
      operationId: modifyCatalogDocument
      parameters:
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Updated documenet values.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
    delete:
      tags:
        - catalogs
      summary: Deletes a single document in a catalog (by catalog name).
      description: Deletes a single document in a catalog (by catalog name).
      operationId: deleteCatalogDocument
      parameters:
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v1/maintenance/occurrences/{id}/cancelled':
    put:
      tags:
        - maintenance windows
      summary: Cancel a maintenance window schedule
      operationId: cancelOccurrence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:edit'
  '/v1/maintenance/windows/{id}/occurrences/expired':
    get:
      tags:
        - maintenance windows
      summary: Get expired occurrences for a specific maintenance window
      operationId: getMaintenanceExpiredOccurrences
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            description: Specifies limit when retrieving the maintenance occurrences
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            description: Specifies offset record when retrieving the maintenance occurrences
            format: int32
            minimum: 0
            default: 0
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Specifies the maintenance window id for which to retrieve occurrences
            minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceListDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  '/v1/catalog-files/{name}':
    patch:
      tags:
        - catalogs
      summary: Replaces a catalog with schema and documents based on the given CSV file.
      description: |-
        Replaces a catalog with schema and documents based on the given CSV file. For an example of the expected format, search for "enrichment CSV" in the API documentation.
        Note — You need to add the catalog file to the form data in the PATCH command. Suppose you want to upload the file using cURL.
        To do this, append a line to the auto-generated command that specifies the path and filename of the CSV you want to upload.
        For example:

            curl --request PATCH \
              --url https://api.moogsoft.ai/v1/catalog-files/data-center \
              --header 'Accept: application/json' \
              --header 'Content-Type: multipart/form-data; boundary=---011000010111000001101001' \
              --header 'apiKey: my-api-key' \
              --form name=data-center-enrichment \
              --form description="Enrichment catalog for Data Center nodes" \
              # append this line....
              --form file=@/users/jane.smith/acme-catalogs/data-center.csv
      operationId: replaceCatalog
      parameters:
        - name: synchronous
          in: query
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                description:
                  type: string
                file:
                  type: string
                  contentMediaType: application/octet-stream
              required:
                - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCatalog'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  /v1/maintenance/occurrences/expired:
    get:
      tags:
        - maintenance windows
      summary: 'Get expired, skipped, or cancelled maintenance window occurrences (in reverse time order)'
      operationId: getExpiredMaintenanceOccurrences
      parameters:
        - name: limit
          in: query
          description: Specifies limit when retrieving the maintenance occurrences
          schema:
            type: integer
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          description: Specifies offset record when retrieving the maintenance occurrences
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceListDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  '/v1/templates/email/{id}':
    patch:
      tags:
        - watchers
      summary: Updates an existing e-mail template.
      operationId: updateTemplate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseEmailTemplateDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'incidents:edit'
    get:
      tags:
        - watchers
      summary: Gets an existing e-mail template.
      operationId: getTemplate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseEmailTemplateDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'incidents:view'
    delete:
      tags:
        - watchers
      summary: Deletes an existing e-mail template.
      operationId: deleteTemplate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'incidents:edit'
  /v1/menu-actions/standalone-workflows:
    get:
      tags:
        - Menu actions
      summary: Returns any menu actions that utilize standalone workflows
      description: 'Returns all menu actions that utilize standalone workflows. If an ID is specified, only returns the menu actions that utilize a workflow with that particular ID.'
      operationId: getStandaloneMenuActions
      parameters:
        - name: id
          in: query
          description: Standalone Workflow Id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfMenuActionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'integrations:view'
  '/v1/maintenance/occurrences/{id}':
    get:
      tags:
        - maintenance windows
      summary: Get a maintenance occurrence
      operationId: getMaintenanceOccurrence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  '/v1/menu-actions/{id}':
    patch:
      tags:
        - Menu actions
      summary: Update the menu action with the given id.
      description: Update the menu action with the given id.
      operationId: updateMenuAction
      parameters:
        - name: id
          in: path
          description: The menu action id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMenuActionDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMenuActionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'integrations:edit'
    get:
      tags:
        - Menu actions
      summary: Get the menu action with the given id.
      description: Get the menu action with the given id.
      operationId: getMenuAction
      parameters:
        - name: id
          in: path
          description: The menu action id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMenuActionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'integrations:view'
    delete:
      tags:
        - Menu actions
      summary: Delete the menu action with the given id.
      description: Delete the menu action with the given id.
      operationId: deleteMenuAction
      parameters:
        - name: id
          in: path
          description: The menu action id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'integrations:edit'
  /v1/catalog-files:
    post:
      tags:
        - catalogs
      summary: Creates a new catalog with schema and documents based on the given CSV file.
      description: |-
        Creates a new catalog with schema and documents based on the given CSV file. For an example of the expected format, search for "enrichment CSV" in the Moogsoft documentation.
        Note — You need to add the catalog file to the form data in the POST command. Suppose you want to upload the file using cURL.
        To do this, append a line to the auto-generated command that specifies the path and filename of the CSV you want to upload.
        For example:

            curl --request POST \
              --url https://api.moogsoft.ai/v1/catalog-files \
              --header 'Accept: application/json' \
              --header 'Content-Type: multipart/form-data; boundary=---011000010111000001101001' \
              --header 'apiKey: my-api-key' \
              # append this line....
              --form file=@/users/jane.smith/moogsoft-catalogs/data-center.csv
      operationId: uploadNewCatalog
      parameters:
        - name: synchronous
          in: query
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: '^(?!system\.)[a-zA-Z0-9]([\w \-.]*)$'
                  minLength: 1
                  maxLength: 127
                description:
                  type: string
                  pattern: \S
                  minLength: 1
                file:
                  type: string
                  contentMediaType: application/octet-stream
              required:
                - name
                - description
                - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCatalog'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v1/catalogs/{catalogName}/documents':
    get:
      tags:
        - catalogs
      summary: Returns the matching documents in the catalog.
      description: Returns the matching documents in the catalog.
      operationId: queryCatalogDocuments
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          schema:
            type: string
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
        default:
          description: List of Documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfDocumentDto'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:view'
    delete:
      tags:
        - catalogs
      summary: Deletes all the matching documents in the catalog.
      description: |
        Deletes all documents (rows) from a data catalog which include the specified value. 
        Use the following example to model your API request. Include your API key, 
        and replace `groupsCatalog` with the name of your catalog. Replace `name` with the name of the column containing 
        the value, and replace `53` with your value. 
        For example:

            curl --location --request DELETE 'https://api.dev.moogsoft.cloud/v1/catalogs/groupsCatalog/documents' \
              --header 'apiKey: API_KEY_HERE' \
              --header 'Content-Type: application/json' \
              --data '{
                  "name": "53",
                  "uuid": "53basd12313"
              }'
        You can also delete documents by specifying the document id. 
        You can delete a single document by specifying a single id value, or delete multiple documents by providing an array of up to 10,000 IDs. 
        For example:

            curl --location --request DELETE 'https://api.dev.moogsoft.cloud/v1/catalogs/groupsCatalog/documents' \
              --header 'apiKey: API_KEY_HERE' \
              --header 'Content-Type: application/json' \
              --data '{
                  "_id": ["68c148122e2fa960380928d6", "68c148122e2fa960380928d5"]
              }'
      operationId: deleteCatalogDocuments
      parameters:
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfstring'
                __errors__:
                  '#/components/schemas/MoogResponseListOfstring': No foreign doc with id components found
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
    post:
      tags:
        - catalogs
      summary: Adds a new document (row) to the catalog.
      description: |-
        Adds a new document (row) to the catalog. The document should conform to the catalog schema.
        Note — The document keys in your request are case-sensitive. They should match exactly the field names defined in the catalog schema.
        Send a GET catalogs request to check the schema.
      operationId: addCatalogDocument
      parameters:
        - name: catalogName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Add catalog document.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfstring'
                __errors__:
                  '#/components/schemas/MoogResponseListOfstring': No foreign doc with id components found
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'catalog:edit'
  '/v1/maintenance/windows/{id}/occurrences/pending':
    get:
      tags:
        - maintenance windows
      summary: Get pending occurrences for a specific maintenance window
      operationId: getMaintenancePendingOccurrences
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            description: Specifies limit when retrieving the maintenance occurrences
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            description: Specifies offset record when retrieving the maintenance occurrences
            format: int32
            minimum: 0
            default: 0
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Specifies the maintenance window id for which to retrieve occurrences
            minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceListDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  /v1/maintenance/occurrences/running:
    get:
      tags:
        - maintenance windows
      summary: Gets maintenance window occurrences that are running
      operationId: getRunningMaintenanceOccurrences
      parameters:
        - name: limit
          in: query
          description: Specifies limit when retrieving the maintenance occurrences
          schema:
            type: integer
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          description: Specifies offset record when retrieving the maintenance occurrences
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceListDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  '/v1/maintenance/windows/{id}/status':
    get:
      tags:
        - maintenance windows
      summary: Get the current status of a maintenance window
      operationId: getMaintenanceWindowStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceStatusDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  '/v1/maintenance/occurrences/{id}/skipped':
    put:
      tags:
        - maintenance windows
      summary: Skip a maintenance window schedule
      operationId: skipOccurrence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:edit'
  '/v1/maintenance/windows/{id}/occurrences/running':
    get:
      tags:
        - maintenance windows
      summary: Get active occurrences for a specific maintenance window
      operationId: getMaintenanceRunningOccurrences
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            description: Specifies limit when retrieving the maintenance occurrences
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            description: Specifies offset record when retrieving the maintenance occurrences
            format: int32
            minimum: 0
            default: 0
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Specifies the maintenance window id for which to retrieve occurrences
            minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseMaintenanceOccurrenceListDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        description: Required user permissions for this endpoint
        value:
          - 'maintenance:view'
  /v1/maintenance/windows:
    get:
      tags:
        - maintenance windows
      summary: Get maintenance window schedules
      operationId: getMaintenanceWindows
      parameters:
        - name: deleted
          in: query
          schema:
            type: boolean
            description: Optional flag indicating whether to retrieve ONLY deleted or non-deleted windows (default is to return ALL windows)
        - name: limit
          in: query
          schema:
            type: integer
            description: Specifies limit when retrieving the maintenance windows
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            description: Specifies offset record when retrieving the maintenance windows
            format: int32
            minimum: 0
            default: 0
        - name: sortBy
          in: query
          schema:
            type: string
            enum:
              - created
              - lastUpdated
              - name
              - createdBy
[...]
