openapi: 3.2.0
info:
  version: 1.0.0
  title: on-call schedule occurrences API
  description: This API allows you to save and retrieve on-call schedules, escalation policies
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: on-call schedule occurrences
  description: on-call occurrence scheduling
paths:
  /v1/on-call/occurrences/{id}/overrides:
    patch:
      tags:
      - on-call schedule occurrences
      summary: Edits an Override
      operationId: editOverrides
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseScheduleOccurrenceDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - oncall:view
        description: Required user permissions for this endpoint
components:
  schemas:
    Timestamp:
      type: integer
      title: Timestamp
      description: Number of milliseconds since Jan 1, 1970 UTC
      format: int64
    MoogErrorResponse:
      type: object
      description: On-Call API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: On-Call API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    BaseScheduleOccurrenceDto:
      type: object
      title: Base Schedule Occurrence Dto
      description: base definition for a schedule occurrence
      properties:
        start:
          $ref: '#/components/schemas/Timestamp'
          description: The start of this on-call schedule occurrence, milliseconds since Jan 1, 1970 GMT
        end:
          $ref: '#/components/schemas/Timestamp'
          description: The end of this on-call schedule occurrence, milliseconds since Jan 1, 1970 GMT
        user:
          type: string
          description: The user "on-call" between this occurrence's start and end time
          pattern: \S
          readOnly: true
      required:
      - start
      - end
      - user
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing On-Call API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
