openapi: 3.2.0
info:
  version: 3.0.0
  title: Alerts/Incidents Autoclose Config API
  description: This API enables you to retrieve and update alerts and incidents, and other APIs relating to them
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: autoclose-config
  description: Autoclose config for alerts and incidents
paths:
  /v2/autoclose-config:
    get:
      tags:
      - autoclose-config
      summary: Get autoclose configs
      description: Get autoclose configs for alert, incident, or both
      operationId: getAutoCloseConfig
      parameters:
      - name: type
        in: query
        schema:
          type: string
          description: Type of configuration to retrieve (incident or alert), retrieves both types if empty
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfAutoCloseConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - automation:view
        description: Required user permissions for this endpoint
  /v2/autoclose-config/{id}:
    patch:
      tags:
      - autoclose-config
      summary: Update autoclose config
      description: Update autoclose config for alerts or incidents.
      operationId: patchAutoCloseConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutoCloseConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - automation:edit
        description: Required user permissions for this endpoint
components:
  schemas:
    Instant:
      type: number
      title: Instant
      format: int64
      examples:
      - '2022-03-10T16:15:50Z'
    MoogFailureResponse:
      type: object
      description: Alerts/Incidents API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseAutoCloseConfigDto:
      type: object
      description: Alerts/Incidents API AutoCloseConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/AutoCloseConfigDto'
      required:
      - status
      - data
    MoogResponseListOfAutoCloseConfigDto:
      type: object
      description: Alerts/Incidents API AutoCloseConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/AutoCloseConfigDto'
      required:
      - status
      - data
    AutoCloseConfigDto:
      type: object
      title: Auto Close Config Dto
      properties:
        never_auto_close_enabled:
          type: boolean
          description: Indicates whether to use the provided Never Auto Close filters when auto-closing incidents or alerts
        never_auto_close_filters:
          type: array
          description: List of filters used to determine which incidents or alerts will never be auto-closed
          items:
            type: string
        close_alerts_when_all_incidents_closed:
          type: boolean
          description: When set to true, alerts will be automatically closed when all related incidents are closed. When set to false, alerts will be automatically closed when any related incident is closed.
        id:
          type: string
          description: ID of the auto-close config
        type:
          type: string
          description: Type of auto-close config, either incident or alert
        incidents_processed:
          type: integer
          description: Number of incidents processed by the configuration
          format: int32
        alerts_processed:
          type: integer
          description: Number of alerts processed by the configuration
          format: int32
        last_updated:
          $ref: '#/components/schemas/Instant'
          description: Time at which the configuration was last updated
        last_updated_by:
          type: string
          description: Email of the user who last updated the configuration
    MoogErrorResponse:
      type: object
      description: Alerts/Incidents API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Alerts/Incidents API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
