openapi: 3.2.0
info:
  version: 2.0.0
  title: webhooksV2 Metrics API
  description: You can use this API to create, retrieve, update, delete, and test webhoook integrations.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: webhooksV2 Metrics
  description: ''
paths:
  /v2/integrations/webhooks/metrics/{id}:
    get:
      tags:
      - webhooksV2 Metrics
      summary: Reads webhook metrics from the DB
      description: Reads webhook metrics from the DB.
      operationId: getWebhookMetrics
      parameters:
      - name: id
        in: path
        description: id must be a valid id returned by the v2/integrations/webhooks/items endpoint
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseWebhookMetrics'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:view
        description: Required user permissions for this endpoint
    delete:
      tags:
      - webhooksV2 Metrics
      summary: Deletes webhook metrics from the DB
      description: Deletes webhook metrics from the DB.
      operationId: deleteWebhookMetrics
      parameters:
      - name: id
        in: path
        description: id must be a valid id returned by the v2/integrations/webhooks/items endpoint
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
components:
  schemas:
    WebhookMetrics:
      type: object
      title: Webhook Metrics
      properties:
        errors:
          type: integer
          format: int64
        successes:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
    MoogResponseWebhookMetrics:
      type: object
      title: Moog Response Webhook Metrics
      description: Webhook API WebhookMetrics response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/WebhookMetrics'
      required:
      - status
      - data
    MoogErrorResponse:
      type: object
      description: Webhook API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: Webhook API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Webhook API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
