openapi: 3.2.0
info:
  version: 1.0.0
  title: Create Your Own Integration Custom Integration Error Logs…
  description: This API enables you to create and manage custom endpoints for inbound integrations.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: custom-integration-error-logs
  description: Operations for custom integration error logs
paths:
  /v1/integrations/byoapi/{endpointId}/errors:
    get:
      tags:
      - custom-integration-error-logs
      summary: Reads custom endpoint processing errors from the DB
      description: Reads custom endpoint processing errors from the DB, in reverse chronological order.
      operationId: getProcessingErrors
      parameters:
      - name: endpointId
        in: path
        description: The unique id of the endpoint
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfByoErrorLogDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
    delete:
      tags:
      - custom-integration-error-logs
      summary: Deletes custom endpoint processing errors from the DB
      description: Deletes custom endpoint processing errors from the DB.
      operationId: deleteProcessingErrors
      parameters:
      - name: endpointId
        in: path
        description: The unique id of the endpoint
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:edit
components:
  schemas:
    ByoErrorLogDto:
      type: object
      title: Byo Error Log Dto
      properties:
        integrationId:
          type: string
        timestamp:
          $ref: '#/components/schemas/Instant'
        errors:
          type: array
          items:
            type: string
        reason:
          type: string
    MoogResponseListOfByoErrorLogDto:
      type: object
      title: Moog Response List Of Byo Error Log Dto
      description: Create Your Own Integration API ByoErrorLogDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/ByoErrorLogDto'
      required:
      - status
      - data
    Instant:
      type: number
      title: Instant
      format: int64
      examples:
      - '2022-03-10T16:15:50Z'
    MoogFailureResponse:
      type: object
      description: Create Your Own Integration API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Create Your Own Integration API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Create Your Own Integration API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
