openapi: 3.2.0
info:
  version: 1.3.0
  title: Workflow Engine Workflow Actions API
  description: This API enables you to create and manage workflows
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: workflow Actions
  description: Actions available for use in workflows
paths:
  /v1/workflow-actions:
    get:
      tags:
      - workflow Actions
      summary: Returns all possible actions for use in workflows
      description: Returns all possible actions for use in workflows.
      operationId: getActions
      parameters:
      - name: type
        in: query
        description: Optional workflow type to retrieve
        schema:
          $ref: '#/components/schemas/WorkflowType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfActionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
components:
  schemas:
    WorkflowType:
      type: string
      enum:
      - EVENT
      - ALERT
      - INCIDENT
      - ALERT_STANDALONE
      - INCIDENT_STANDALONE
      title: Workflow Type
    MoogResponseListOfActionDto:
      type: object
      title: Moog Response List Of Action Dto
      description: Workflow Engine API ActionDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActionDto'
      required:
      - status
      - data
    ActionDto:
      type: object
      title: Action Dto
      description: Definition of a workflow action.
      properties:
        name:
          type: string
          description: Computer name of the action
        displayName:
          type: string
          description: Display name of the action
        description:
          type: string
          description: Description of the action
        schema:
          $ref: '#/components/schemas/ActionConfigurationSchemaDto'
          description: The configuration schema (expected fields and types) that this action requires
        workflowTypes:
          type: array
          description: Types of workflows the action can be used in
          items:
            $ref: '#/components/schemas/WorkflowType'
    ActionConfigurationFieldSchemaDto:
      type: object
      title: Action Configuration Field Schema Dto
      description: Schema for a field of an action.
      properties:
        name:
          type: string
          description: Computer name of the action field
        displayName:
          type: string
          description: Display name of the action field
        description:
          type: string
          description: Description of the action field
        type:
          type: string
          description: Type of the action field (Special pre-defined types)
    MoogFailureResponse:
      type: object
      description: Workflow Engine API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    ActionConfigurationSchemaDto:
      type: object
      title: Action Configuration Schema Dto
      description: A list of schema for all the fields of an action.
      properties:
        fields:
          type: array
          description: A list of any required schema for each action (can be empty if no config required)
          items:
            $ref: '#/components/schemas/ActionConfigurationFieldSchemaDto'
      required:
      - fields
    MoogErrorResponse:
      type: object
      description: Workflow Engine API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Workflow Engine API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
