openapi: 3.1.0
info:
  version: 1.0.0
  title: Similar Incidents Service API
  description: API for the similar incidents service.
  termsOfService: 'https://www.moogsoft.com/legal-information/express-terms-conditions/'
  contact:
    name: API Support
    url: 'https://docs.moogsoft.com/en/moogsoft-apis.html'
    email: support@moogsoft.com
  license:
    url: 'https://www.moogsoft.com/legal-information'
    name: Apex AIOps Incident Management Proprietary
servers:
  - url: 'https://api.moogsoft.ai'
  - url: 'https://api.dev.moogsoft.cloud'
paths:
  /v1/similar-incidents-settings:
    put:
      tags:
        - similar-incidents-settings
      summary: Modifies the attributes used for comparing incidents
      description: Modifies the sets of attributes used for comparing 2 incidents.
      operationId: putSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilaritySettingsDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSimilaritySettingsDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incident-config:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - similar-incidents-settings
      summary: Gets settings for similar incidents
      description: Gets settings such as what key to use for similarity service.
      operationId: getSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSimilaritySettingsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incident-config:view'
        description: Required user permissions for this endpoint
  /v1/incident-similarity:
    post:
      tags:
        - incident-similarity
      summary: Returns the set of similar incidents for a given target incident.
      description: Finds and returns the set of incidents similar to a given target incident ID.
      operationId: getIncidentSimilarity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentSimilarityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentSimilarityResult'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
tags:
  - name: incident-similarity
  - name: similar-incidents
    description: Find incidents that are classed as 'similar' to a given incident ID.
  - name: similar-incidents-settings
    description: 'Configure similar incident settings such as dedupe key, comparison key, custom'
externalDocs:
  url: 'https://docs.moogsoft.com/en/moogsoft-apis.html'
  description: Find out more about Apex AIOps Incident Management
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Similar Incidents Service API
      name: apiKey
      in: header
  schemas:
    SimilaritySettingsDto:
      type: object
      title: Similarity Settings Dto
      properties:
        similarity_key_type:
          $ref: '#/components/schemas/SimilarityKeyType'
        key_fields:
          type: array
          minItems: 1
          items:
            type: string
      required:
        - similarity_key_type
        - key_fields
    SimilarityKeyType:
      type: string
      enum:
        - dedupe
        - custom
      title: Similarity Key Type
    MoogResponseSimilaritySettingsDto:
      type: object
      title: Moog Response Similarity Settings Dto
      description: Similar Incidents Service API SimilaritySettingsDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
            - success
        data:
          $ref: '#/components/schemas/SimilaritySettingsDto'
      required:
        - status
        - data
    MoogFailureResponse:
      type: object
      description: Similar Incidents Service API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
            - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
        - status
        - message
    MoogErrorResponse:
      type: object
      description: Similar Incidents Service API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
            - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
        - status
        - message
    IncidentSimilarityRequest:
      type: object
      title: Incident Similarity Request
      description: A request to get the similarity between 2 incidents
      properties:
        refIncidentID:
          type: integer
          format: int64
          exclusiveMinimum: 0
        cmpIncidentID:
          type: integer
          format: int64
          exclusiveMinimum: 0
      required:
        - refIncidentID
        - cmpIncidentID
    MoogResponseIncidentSimilarityResult:
      type: object
      title: Moog Response Incident Similarity Result
      description: Similar Incidents Service API IncidentSimilarityResult response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
            - success
        data:
          $ref: '#/components/schemas/IncidentSimilarityResult'
      required:
        - status
        - data
    IncidentSimilarityResult:
      type: object
      title: Incident Similarity Result
      description: Inference result from similar-incidents.
      properties:
        result:
          $ref: '#/components/schemas/IncidentSimilarityDto'
    IncidentSimilarityDto:
      type: object
      title: Incident Similarity Dto
      properties:
        similarity:
          type: number
          format: double
security:
  - ApiKeyAuth: []
