openapi: 3.2.0
info:
  version: 1.1.0
  title: Collector V2 Product Feedback API
  description: This API enables you to work with collectors
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Product Feedback
paths:
  /v2/product-feedback:
    post:
      tags:
      - Product Feedback
      summary: Provide Feedback
      operationId: provideFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFeedbackDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
components:
  schemas:
    ProductFeedbackDto:
      type: object
      title: Product Feedback Dto
      description: Product feedback.
      properties:
        category:
          $ref: '#/components/schemas/ProductFeedbackCategory'
          description: The category of the product feedback
        feedback:
          type: string
          description: The feedback text
      required:
      - category
      - feedback
    ProductFeedbackCategory:
      type: string
      enum:
      - GENERAL
      - PLUGIN
      - INTEGRATION
      title: Product Feedback Category
    MoogErrorResponse:
      type: object
      description: Collector V2 API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: Collector V2 API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Collector V2 API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
