openapi: 3.2.0
info:
  version: 1.0.0
  title: On-Call Acknowledge Resource API
  description: This API allows you to save and retrieve on-call schedules, escalation policies
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Acknowledge Resource
paths:
  /v1/on-call/ack/{incidentId}:
    get:
      tags:
      - Acknowledge Resource
      summary: Acknowledge Incident
      operationId: acknowledgeIncidentAlt
      parameters:
      - name: context
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      - name: incidentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incidents:edit
        description: Required user permissions for this endpoint
    post:
      tags:
      - Acknowledge Resource
      summary: Acknowledge Incident
      operationId: acknowledgeIncident
      parameters:
      - name: fromVoice
        in: query
        schema:
          type: boolean
          default: false
      - name: incidentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AckPayloadDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - oncall:ack
        description: Required user permissions for this endpoint
  /v1/on-call/ack:
    post:
      tags:
      - Acknowledge Resource
      summary: Acknowledge Incidents
      operationId: acknowledgeIncidents
      parameters:
      - name: fromVoice
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAckPayloadDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - oncall:ack
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogErrorResponse:
      type: object
      description: On-Call API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: On-Call API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    BulkAckPayloadDto:
      type: object
      title: Bulk Ack Payload Dto
      properties:
        assignee:
          type: string
          minLength: 1
        phone:
          type: string
          minLength: 1
        incidentIds:
          type: array
          minItems: 1
          items:
            type: integer
            format: int64
      required:
      - assignee
      - phone
      - incidentIds
    AckPayloadDto:
      type: object
      title: Ack Payload Dto
      properties:
        assignee:
          type: string
          minLength: 1
        phone:
          type: string
          minLength: 1
        ackCode:
          type: string
          minLength: 1
        redirectUrl:
          type: string
      required:
      - assignee
      - phone
      - ackCode
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing On-Call API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
