openapi: 3.2.0
info:
  version: 3.0.0
  title: Alerts/Incidents Alert Filters API
  description: This API enables you to retrieve and update alerts and incidents, and other APIs relating to them
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Alert Filters
  description: Validate filters for alerts
paths:
  /v1/alert-filters/validate:
    post:
      tags:
      - Alert Filters
      summary: Validate Alert Filter
      operationId: validateAlertFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/FilterStringDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseFilterStringResultDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  /v1/alert-filters/columns:
    get:
      tags:
      - Alert Filters
      summary: Get column names available for use with alert filters
      description: Column names for filtering alerts in workflows, outbound integrations, etc.
      operationId: alertFilterColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
components:
  schemas:
    ComparisonType:
      type: string
      enum:
      - equals
      - notEqual
      - contains
      - notContains
      - startsWith
      - endsWith
      - lessThan
      - lessThanOrEqual
      - greaterThan
      - greaterThanOrEqual
      - inRange
      - blank
      - notBlank
      - exactMatch
      - notExactMatch
      title: Comparison Type
      description: Comparison operator type to use for the filter
    FilterStringDto:
      type: object
      title: Filter String Dto
      description: A filter string to validate
      properties:
        filterString:
          type: string
          description: The filter string to validate
          pattern: \S
          examples:
          - severity = Clear AND source = www.my-source.com
      required:
      - filterString
    FieldCategory:
      type: string
      enum:
      - primitive
      - array
      title: Field Category
    MoogResponseColumnsDto:
      type: object
      description: Alerts/Incidents API ColumnsDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/ColumnsDto'
      required:
      - status
      - data
    ColumnInfo:
      type: object
      title: Column Info
      properties:
        colId:
          type: string
        headerName:
          type: string
        cellRenderer:
          type: string
        sortable:
          type: boolean
        hide:
          type: boolean
        filterOptions:
          $ref: '#/components/schemas/FilterOptions'
    MoogFailureResponse:
      type: object
      description: Alerts/Incidents API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseFilterStringResultDto:
      type: object
      description: Alerts/Incidents API FilterStringResultDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/FilterStringResultDto'
      required:
      - status
      - data
    FilterStringResultDto:
      type: object
      title: Filter String Result Dto
      description: The result of validating a filter string
      properties:
        isValid:
          type: boolean
    MoogErrorResponse:
      type: object
      description: Alerts/Incidents API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    FilterOptions:
      type: object
      title: Filter Options
      properties:
        type:
          type: string
        operators:
          type: array
          items:
            $ref: '#/components/schemas/ComparisonType'
        setValues:
          type: array
          items:
            type: string
        category:
          $ref: '#/components/schemas/FieldCategory'
    ColumnsDto:
      type: object
      title: Columns Dto
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ColumnInfo'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Alerts/Incidents API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
