openapi: 3.2.0
info:
  version: 1.1.0
  title: Collector V2 Plugin Config API
  description: This API enables you to work with collectors
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: plugin config
paths:
  /v2/manual-collector-config/{id}:
    patch:
      tags:
      - plugin config
      summary: Update the plugin config with the given id
      description: Update the plugin config with the given id.
      operationId: updateManualCollectorConfig
      parameters:
      - name: id
        in: path
        description: The manual collector config id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseManualCollectorConfigDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseManualCollectorConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
  /v2/plugin-config:
    get:
      tags:
      - plugin config
      summary: Returns any plugin config that matches
      description: Returns any plugin config that matches.
      operationId: findPluginConfig
      parameters:
      - name: collector_id
        in: query
        description: Collector id associated with the config
        schema:
          type: string
      - name: plugin_name
        in: query
        description: Plugin name associated with the config
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfPluginConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:view
        description: Required user permissions for this endpoint
    delete:
      tags:
      - plugin config
      summary: Delete all matching plugin config with the given collector id
      description: Delete all matching plugin config with the given collector id.
      operationId: deleteMatchingPluginConfig
      parameters:
      - name: collector_id
        in: query
        description: The collector id associated with the config
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponsestring'
                __errors__:
                  '#/components/schemas/MoogResponsestring': No foreign doc with id components found
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
    post:
      tags:
      - plugin config
      summary: Create new plugin config
      description: Create new plugin config.
      operationId: createPluginConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePluginConfigDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponsePluginConfigDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
  /v2/plugin-config/{id}:
    patch:
      tags:
      - plugin config
      summary: Update the plugin config with the given id
      description: Update the plugin config with the given id.
      operationId: updatePluginConfig
      parameters:
      - name: id
        in: path
        description: The plugin config id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePluginConfigDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponsePluginConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
    get:
      tags:
      - plugin config
      summary: Get the plugin config with the given id
      description: Get the plugin config with the given id.
      operationId: getPluginConfig
      parameters:
      - name: id
        in: path
        description: The plugin config id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponsePluginConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:view
        description: Required user permissions for this endpoint
    delete:
      tags:
      - plugin config
      summary: Delete the plugin config with the given id
      description: Delete the plugin config with the given id.
      operationId: deletePluginConfig
      parameters:
      - name: id
        in: path
        description: The plugin config id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogResponsePluginConfigDto:
      type: object
      description: Collector V2 API PluginConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/PluginConfigDto'
      required:
      - status
      - data
    ManualCollectorConfigDto:
      type: object
      title: Manual Collector Config Dto
      description: Manual collector config with base and generated attributes.
      properties:
        collector_id:
          type: string
          description: The collector id that this config is associated with.
        enabled:
          type: boolean
          description: A boolean indicating if the config is enabled or not (by default true).
        configuration:
          type: object
          description: The manual collector config.
        id:
          type: string
          description: ID of the manual collector config
      required:
      - collector_id
      - configuration
    MoogResponseListOfPluginConfigDto:
      type: object
      description: Collector V2 API PluginConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/PluginConfigDto'
      required:
      - status
      - data
    BasePluginConfigDto:
      type: object
      title: Base Plugin Config Dto
      description: Base plugin config attributes.
      properties:
        collector_id:
          type: string
          description: The collector id that this config is associated with.
        collector_version:
          type: string
          description: The collector version that this config is associated with.
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
        plugin_name:
          type: string
          description: The name of the plugin that this config is for.
          minLength: 1
        enabled:
          type: boolean
          description: A boolean indicating if the plugin is enabled or not (by default true).
        configuration:
          type: object
          description: Config for the plugin (This is optional if the plugin has no config required).
      required:
      - collector_id
      - collector_version
      - plugin_name
    PluginConfigDto:
      type: object
      title: Plugin Config Dto
      description: Collector config with base and generated attributes.
      properties:
        collector_id:
          type: string
          description: The collector id that this config is associated with.
        collector_version:
          type: string
          description: The collector version that this config is associated with.
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
        plugin_name:
          type: string
          description: The name of the plugin that this config is for.
          minLength: 1
        enabled:
          type: boolean
          description: A boolean indicating if the plugin is enabled or not (by default true).
        configuration:
          type: object
          description: Config for the plugin (This is optional if the plugin has no config required).
        id:
          type: string
          description: ID of the plugin config
      required:
      - collector_id
      - collector_version
      - plugin_name
    MoogFailureResponse:
      type: object
      description: Collector V2 API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseManualCollectorConfigDto:
      type: object
      description: Collector V2 API ManualCollectorConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/ManualCollectorConfigDto'
      required:
      - status
      - data
    MoogErrorResponse:
      type: object
      description: Collector V2 API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    BaseManualCollectorConfigDto:
      type: object
      title: Base Manual Collector Config Dto
      description: Base manual collector config attributes.
      properties:
        collector_id:
          type: string
          description: The collector id that this config is associated with.
        enabled:
          type: boolean
          description: A boolean indicating if the config is enabled or not (by default true).
        configuration:
          type: object
          description: The manual collector config.
      required:
      - collector_id
      - configuration
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Collector V2 API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
