openapi: 3.2.0
info:
  version: 1.0.0
  title: User Permissions API
  description: API for User Service
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Permissions
  description: Endpoints relating to permissions
paths:
  /v1/permissions:
    get:
      tags:
      - Permissions
      summary: GET all permissions
      description: Returns a list of permissions in the Moogsoft platform
      operationId: getPermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfPermissionDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
components:
  schemas:
    MoogResponseListOfPermissionDto:
      type: object
      description: User API PermissionDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDto'
      required:
      - status
      - data
    PermissionDto:
      type: object
      title: Permission Dto
      properties:
        name:
          type: string
          maxLength: 60
        description:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    MoogFailureResponse:
      type: object
      description: User API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: User API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    Permission:
      type: object
      title: Permission
      properties:
        entity:
          type: string
        name:
          type: string
        operation:
          type: string
        description:
          type: string
        title:
          type: string
        asPermissionString:
          type: string
        impliedPermissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
        defaultRoles:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing User API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
