openapi: 3.1.0
info:
  version: 3.0.0
  title: Alerts/Incidents API
  description: 'This API enables you to retrieve and update alerts and incidents, and other APIs relating to them'
  termsOfService: 'https://www.moogsoft.com/legal-information/express-terms-conditions/'
  contact:
    name: API Support
    url: 'https://docs.moogsoft.com/en/moogsoft-apis.html'
    email: support@moogsoft.com
  license:
    url: 'https://www.moogsoft.com/legal-information'
    name: Apex AIOps Incident Management Proprietary
servers:
  - url: 'https://api.moogsoft.ai'
  - url: 'https://api.dev.moogsoft.cloud'
paths:
  /v2/alerts/columns:
    get:
      tags:
        - Alert Columns Resource V 2
      summary: Get column names of alert DTO.
      description: Column names for filtering alerts via /alerts endpoint
      operationId: alertDtoColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v2/autoclose-config:
    get:
      tags:
        - autoclose-config
      summary: Get autoclose configs
      description: 'Get autoclose configs for alert, incident, or both'
      operationId: getAutoCloseConfig
      parameters:
        - name: type
          in: query
          schema:
            type: string
            description: 'Type of configuration to retrieve (incident or alert), retrieves both types if empty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfAutoCloseConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:view'
        description: Required user permissions for this endpoint
  '/v2/autoclose-config/{id}':
    patch:
      tags:
        - autoclose-config
      summary: Update autoclose config
      description: Update autoclose config for alerts or incidents.
      operationId: patchAutoCloseConfig
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutoCloseConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:edit'
        description: Required user permissions for this endpoint
  /v2/autoclose-policy:
    get:
      tags:
        - autoclose-policy
      summary: Get autoclose policies
      description: 'Get autoclose policies for alert, incident, or both'
      operationId: getAutoClosePolicies
      parameters:
        - name: type
          in: query
          schema:
            type: string
            description: 'Type of policy to retrieve (incident or alert), retrieves both types if empty'
            default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfAutoClosePolicyDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:view'
        description: Required user permissions for this endpoint
    post:
      tags:
        - autoclose-policy
      summary: Create autoclose policy
      description: Create autoclose policy for alerts or incidents.
      operationId: postAutoClosePolicy
      requestBody:
        description: Settings used to create new policy
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseAutoClosePolicyDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutoClosePolicyDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:edit'
        description: Required user permissions for this endpoint
  '/v2/autoclose-policy/{id}':
    patch:
      tags:
        - autoclose-policy
      summary: Update autoclose policy
      description: Update autoclose policy for alerts or incidents.
      operationId: patchAutoClosePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Settings used to update existing policies.
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutoClosePolicyDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - autoclose-policy
      summary: Get autoclose policy
      description: Get autoclose policy by id
      operationId: getAutoClosePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutoClosePolicyDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:view'
        description: Required user permissions for this endpoint
    delete:
      tags:
        - autoclose-policy
      summary: Delete autoclose policy
      description: Delete autoclose policy with specified id
      operationId: deleteAutoClosePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:edit'
        description: Required user permissions for this endpoint
  /v2/event-columns:
    get:
      tags:
        - event-columns
      summary: get columns names of Event
      description: get columns names of Event
      operationId: eventDtoColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  /v2/incidents/columns:
    get:
      tags:
        - incident columns resource
      summary: Get column names of IncidentDTO.
      description: 'Column names for filtering alerts in outbound integrations, returns a list of strings'
      operationId: incidentDtoColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
  '/v2/situation-room/{incidentId}/alerts':
    post:
      tags:
        - alerts
      summary: 'Get alerts for an incident, for the situation room'
      description: 'Get alerts for an incident, for the situation room'
      operationId: getSituationRoomAlertsV2
      parameters:
        - name: incidentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SituationRoomAlertsRequestV2'
              __errors__:
                '#/components/schemas/ColumnFilterMap': No foreign doc with id components found
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSituationRoomAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v2/stats/overview:
    get:
      tags:
        - overviewStats
      summary: Get overview statistics for dashboard
      description: Get overview statistics for dashboard
      operationId: getOverviewStats
      parameters:
        - name: activeOnly
          in: query
          description: active only
          schema:
            type: boolean
            default: 'false'
        - name: end
          in: query
          description: end time
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
        - name: start
          in: query
          description: time used to filter out the Opensearch data
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseOverviewWebResponse'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
  /v3/service/summary:
    post:
      tags:
        - dashboardSummaryPost
      summary: Get alert/incident summary for dashboard
      description: Get alert/incident summary for dashboard
      operationId: getServiceSummaryPost
      requestBody:
        description: Dashboard Summary request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardSummaryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentSummaryResponse'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
  /v1/alert-workflows/dependent-on:
    get:
      tags:
        - alert-workflows
      summary: Checks for any alert workflows dependent on a specific resource.
      description: Checks for any alert workflows dependent on a specific resource.
      operationId: getAlertWorkflowsDependentOnResource
      parameters:
        - name: resource_name
          in: query
          required: true
          schema:
            type: string
            pattern: \S
        - name: resource_type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/ResourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfWorkflowDependentOnResponseDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  '/v1/alerts/{alertId}/external-ids/{integrationId}':
    get:
      tags:
        - alerts
      summary: Get details associated with specific external system.
      description: Get details associated with a specific external system in the alert. Returns the systemName and all the details
      operationId: getAlertExternalId
      parameters:
        - name: alertId
          in: path
          description: alert ID
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
        - name: integrationId
          in: path
          description: integration ID
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseExternalSystemDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
    patch:
      tags:
        - alerts
      summary: Add externalID information to an alert.
      description: Add details about an external system to the alert
      operationId: patchAlertExternalId
      parameters:
        - name: alertId
          in: path
          description: alert ID
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
        - name: integrationId
          in: path
          description: integration ID
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalSystemDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
    delete:
      tags:
        - alerts
      summary: Delete externalID information to an alert.
      description: Delete details about an external system in the alert
      operationId: deleteAlertExternalId
      parameters:
        - name: alertId
          in: path
          description: alert ID
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
        - name: integrationId
          in: path
          description: integration ID
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
    post:
      tags:
        - alerts
      summary: Add externalID information to an alert.
      description: Add details about an external system to the alert
      operationId: postAlertExternalId
      parameters:
        - name: alertId
          in: path
          description: alert ID
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
        - name: integrationId
          in: path
          description: integration ID
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalSystemDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
  /v1/alert-workflows/validate:
    post:
      tags:
        - alert-workflows
      summary: Validates an alert workflows.
      description: Validates an alert workflow.
      operationId: validateAlertWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseWorkflowDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'workflows:edit'
        description: Required user permissions for this endpoint
  /v1/automation-config:
    patch:
      tags:
        - automation-config
      summary: Update automation config for auto close of alerts and incidents.
      description: Update automation config for auto close of alerts and incidents.
      operationId: patchAutomationConfig
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationConfigDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - automation-config
      summary: Get automation config for auto close of alerts and incidents.
      description: Get automation config for auto close of alerts and incidents.
      operationId: getAutomationConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutomationConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'automation:view'
        description: Required user permissions for this endpoint
  '/v1/incidents/{incidentId}/comments':
    get:
      tags:
        - incident-comments
      summary: Get all comments of an existing incident
      operationId: getComments
      parameters:
        - name: incidentId
          in: path
          description: ID of the incident to return list of comments. Returns 400 (Invalid ID Supplied) if this value is anything other than a non-negative integer.
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentCommentResponse'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
    post:
      tags:
        - incident-comments
      summary: Add comment to existing incident
      operationId: addComment
      parameters:
        - name: incidentId
          in: path
          description: Incident id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Incident comment to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentCommentDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
  /v1/alerts-search:
    get:
      tags:
        - alerts-search
      summary: Search for alerts for given namespace
      description: Search for alerts matching the following criteria.
      operationId: search
      parameters:
        - name: namespace
          in: query
          description: Namespace of the alerts to search
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfinteger'
                __errors__:
                  '#/components/schemas/MoogResponseListOfinteger': No foreign doc with id components found
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/alert-workflows/test/bulk:
    post:
      tags:
        - alert-workflows
      summary: 'Tests alert workflows, in bulk.'
      description: 'Tests alert workflows, in bulk.'
      operationId: testAlertWorkflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTestWorkflowDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfBulkTestWorkflowResultsDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'workflows:edit'
        description: Required user permissions for this endpoint
  /v1/incident-workflows/validate:
    post:
      tags:
        - incident-workflows
      summary: Validates an incident workflow.
      description: Validates an incident workflow.
      operationId: validateIncidentWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseWorkflowDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'workflows:edit'
        description: Required user permissions for this endpoint
  '/v1/incidents/{incidentId}':
    put:
      tags:
        - incidents
      summary: Update incident information.
      description: Update incident information.
      operationId: updateIncidentPut
      parameters:
        - name: incidentId
          in: path
          description: Id of the incident that is being updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update payload for the incident
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayloadDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
    patch:
      tags:
        - incidents
      summary: Update the incident to the given status and/or assignee.
      description: Update the incident to the given status and/or assignee.
      operationId: updateIncident
      parameters:
        - name: incidentId
          in: path
          description: Id of the incident that is being updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: JSON Patch payload for the incident
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayloadDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - incidents
      summary: Get incident by id.
      description: Get incident by id.
      operationId: getIncident
      parameters:
        - name: incidentId
          in: path
          description: Id of the incident that is being retrieved
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
  '/v1/alerts/{alert_id}/events-timeline':
    get:
      tags:
        - alerts
      summary: List the event timeline buckets associated with the specified alert
      description: 'Get the event timeline buckets that represent the count of event severities, for specified interval and start time'
      operationId: getEventTimelineByAlertId
      parameters:
        - name: bucket_interval
          in: query
          description: Time interval of each bucket (in seconds).
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
            examples:
              - 3600
          examples:
            default:
              value: 3600
        - name: bucket_start_time
          in: query
          description: 'Start time of the first bucket. If it is not provided, the default will be considered as the first_event_time.'
          schema:
            type: integer
            format: int64
            examples:
              - 1720083965000
          examples:
            default:
              value: 1720083965000
        - name: alert_id
          in: path
          description: 'ID of the alert to use, returns 404 if there is no alert for the alertId.'
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
            examples:
              - 1
          examples:
            default:
              value: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfEventTimelineBucket'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/operational-stats:
    post:
      tags:
        - operationalStats
      summary: Provides details for operational stats in executive summary
      description: Returns incident trend and time to resolve chart details
      operationId: 'getOperationalStats,'
      requestBody:
        description: Operational stats request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalStatsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseOperationalStatsWebResponse'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
  /v1/incident-workflows/dependent-on:
    get:
      tags:
        - incident-workflows
      summary: Checks for any alert workflows dependent on a specific resource.
      description: Checks for any alert workflows dependent on a specific resource.
      operationId: getIncidentWorkflowsDependentOnResource
      parameters:
        - name: resource_name
          in: query
          required: true
          schema:
            type: string
            pattern: \S
        - name: resource_type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/ResourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfWorkflowDependentOnResponseDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  '/v1/alerts/{alertId}/snapshot':
    get:
      tags:
        - alerts
      summary: 'Get an alert snapshots, with highest severity.'
      description: The alert returned is a snapshot of the earliest and highest severity.
      operationId: getAlertSnapshot
      parameters:
        - name: alertId
          in: path
          description: ID of the alert to use. Returns 404 if there is no alert for the alertId.
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/incidents:
    patch:
      tags:
        - incidents
      summary: Update multiple incidents to the given status and/or assignee.
      description: Update the incidents to the given status and/or assignee.
      operationId: updateIncidents
      requestBody:
        description: Bulk update payload for the incidents
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPatchPayloadDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfIncidentDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - incidents
      summary: List incidents that match the given filter.
      description: 'List incidents that match the given filter. Note that all GET requests are limited to a maximum of 10,000 items per query.'
      operationId: listIncidents
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
        - name: filter
          in: query
          description: Query string to filter the incidents by. The string must be in AIOps query language. You may use any of the columns for filtering.
          schema:
            type: string
            examples:
              - 'class in (Middleware, Hardware)'
          examples:
            default:
              value: 'class in (Middleware, Hardware)'
        - name: jsonFilter
          in: query
          description: 'Return only incidents that match this AG-Grid-style JSON filter, such as {"status":{"values":["open","in progress","resolved"],"filterType":"set"}}'
          deprecated: true
          schema:
            type: string
        - name: jsonSort
          in: query
          description: 'Sort the results according to this AG-Grid-style JSON sort info, such as [{"sort":"asc","colId":"severity"}]'
          deprecated: true
          schema:
            type: string
        - name: keyword
          in: query
          description: Return only incidents that contain these keywords.
          deprecated: true
          schema:
            type: string
            examples:
              - support
          examples:
            default:
              value: support
        - name: limit
          in: query
          description: 'Number of incidents to fetch, after skipping the number specified in the ''start'' parameter if any. Between 1 and 5000'
          schema:
            type: integer
            format: int32
            exclusiveMinimum: 0
            maximum: 5000
            default: '100'
            examples:
              - 100
          examples:
            default:
              value: 100
        - name: start
          in: query
          description: 'Number of incidents to skip. That is, the first incident returned will be object # start + 1.'
          schema:
            type: integer
            format: int32
            minimum: 0
            default: '0'
            examples:
              - 0
          examples:
            default:
              value: 0
        - name: utcOffset
          in: query
          description: The difference in hours from Coordinated Universal Time (UTC) to user's local time.
          schema:
            type: string
            default: GMT
            examples:
              - 'GMT-7/GMT+7:30'
          examples:
            default:
              value: 'GMT-7/GMT+7:30'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
    post:
      tags:
        - incidents
      summary: Get a list of all incidents with matching criteria.
      description: 'Get a list of all incidents with matching criteria. Note that all POST requests are limited to a maximum of 10,000 items per query.'
      operationId: listIncidentsPost
      requestBody:
        description: List incidents request specification
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListIncidentsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:view'
        description: Required user permissions for this endpoint
  /v1/incident-workflows/test:
    post:
      tags:
        - incident-workflows
      summary: Tests an incident workflow.
      description: Tests an incident workflow.
      operationId: testIncidentWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowTestWrapperDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfWorkflowTestResultDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'workflows:edit'
        description: Required user permissions for this endpoint
  /v1/alert-workflows/standalone:
    post:
      tags:
        - alert-workflows
      summary: Invokes the given standalone workflow on a single alert.
      description: Invokes the given standalone workflow on a single alert.
      operationId: invokeAlertStandaloneWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandaloneWorkflowInvocationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseVoid'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
  /v1/incident-filters/columns:
    get:
      tags:
        - incident-filters
      summary: Get column names available for use with incident filters.
      description: 'Column names for filtering incidents in workflows, outbound integrations, etc.'
      operationId: incidentFilterColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  '/v1/alerts/{alertId}':
    patch:
      tags:
        - alerts
      summary: Update the "status" or "assignee" or "assigned_groups" field in a specific alert.
      description: Updates a single alert.
      operationId: updateAlert
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - alerts
      summary: Get details of the alert with the specified ID.
      description: Returns a single alert.
      operationId: alertDetails
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
        - name: alertId
          in: path
          description: ID of the alert to return. Returns 400 (Invalid ID Supplied) if this value is anything other than a non-negative integer.
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/alert-workflows/inputs:
    get:
      tags:
        - alert-workflows
      summary: Returns inputs previously seen at the input of alert workflow engine.
      description: Returns inputs previously seen at the input of alert workflow engine.
      operationId: getRecentAlerts
      parameters:
        - name: entryFilter
          in: query
          schema:
            type: string
            description: Entry filter for the workflow (can be empty)
        - name: limit
          in: query
          schema:
            type: integer
            description: Maximum number of previously stored inputs to return
            format: int32
            minimum: 1
            default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfRecentInputDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  /v1/alert-filters/validate:
    post:
      tags:
        - alert-filters
      summary: Validate Alert Filter
      operationId: validateAlertFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/FilterStringDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseFilterStringResultDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  /v1/incident-tags-config:
    patch:
      tags:
        - incident-tags-config
      summary: Update tags config for incidents.
      description: Update tags config for incidents.
      operationId: patchIncidentTagsConfig
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentTagsConfigDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incident-config:edit'
        description: Required user permissions for this endpoint
    get:
      tags:
        - incident-tags-config
      summary: Get tags config for incidents.
      description: Get tags config for incidents.
      operationId: getIncidentTagsConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentTagsConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incident-config:view'
        description: Required user permissions for this endpoint
  '/v1/alerts/{alertId}/tags':
    patch:
      tags:
        - alerts
      summary: Overwrite the tags of an alert with the supplied tags.
      description: Updates the tags of an alert.
      operationId: updateAlertTags
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAlertTagsPayloadDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:edit'
        description: Required user permissions for this endpoint
  /v1/incident-workflows/test/bulk:
    post:
      tags:
        - incident-workflows
      summary: 'Tests incident workflows, in bulk.'
      description: 'Tests incident workflows, in bulk.'
      operationId: testIncidentWorkflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTestWorkflowDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfBulkTestWorkflowResultsDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'workflows:edit'
        description: Required user permissions for this endpoint
  '/v1/incidents/{incidentId}/comments/{commentId}':
    patch:
      tags:
        - incident-comments
      summary: update existing comment
      operationId: updateComment
      parameters:
        - name: commentId
          in: path
          description: Comment id
          required: true
          schema:
            type: string
        - name: incidentId
          in: path
          description: Incident id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Incident comment to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentCommentDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
    delete:
      tags:
        - incident-comments
      summary: Delete comment of an incident
      operationId: deleteComment
      parameters:
        - name: commentId
          in: path
          description: Comment ID
          required: true
          schema:
            type: string
        - name: incidentId
          in: path
          description: Incident ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'incidents:edit'
        description: Required user permissions for this endpoint
  /v1/alert-filters/columns:
    get:
      tags:
        - alert-filters
      summary: Get column names available for use with alert filters.
      description: 'Column names for filtering alerts in workflows, outbound integrations, etc.'
      operationId: alertFilterColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
  '/v1/alerts/{alert_id}/events':
    get:
      tags:
        - alerts
      summary: List event by alertId with given timeline
      description: Get event details for given filter and pagination parameters
      operationId: listEventsByAlertId
      parameters:
        - name: end_time
          in: query
          description: End time to fetch events up to. If not provided then consider alert's last event time as default
          schema:
            type: integer
            format: int64
            examples:
              - 1720083965000
          examples:
            default:
              value: 1720083965000
        - name: limit
          in: query
          description: Maximum number of events to return per page.
          schema:
            type: integer
            format: int32
            exclusiveMinimum: 0
            maximum: 1000
            default: 1000
            examples:
              - 1000
          examples:
            default:
              value: 1000
        - name: offset
          in: query
          description: Number of events to skip
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
            examples:
              - 0
          examples:
            default:
              value: 0
        - name: start_time
          in: query
          description: Start time to fetch events from.
          schema:
            type: integer
            format: int64
            examples:
              - 1720083965000
          examples:
            default:
              value: 1720083965000
        - name: alert_id
          in: path
          description: ID of the alert to use. Returns 404 if there is no alert for the alertId.
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
            examples:
              - 1
          examples:
            default:
              value: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseEventList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  '/v1/alerts/{alertId}/external-ids':
    get:
      tags:
        - alerts
      summary: Get all externalIds associated with the alert.
      description: Get all externalIds associated with the alert. Returns the systemName and all the details
      operationId: getAllAlertExternalIds
      parameters:
        - name: alertId
          in: path
          description: alert ID
          required: true
          schema:
            type: integer
            format: int64
            exclusiveMinimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfExternalSystemDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/situation-room/columns:
    get:
      tags:
        - Situation Room Resource
      summary: Get column names of situation room alert DTO.
      description: Column names for filtering situation room alerts
      operationId: situationAlertDtoColumnNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseColumnsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/alerts/snapshot:
    post:
      tags:
        - alerts
      summary: 'Get a list of alert snapshots, with highest severity.'
      description: Each alert returned is a snapshot of the earliest and highest severity.
      operationId: listAlertSnapshots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSnapshotRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAlertList'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  '/v1/situation-room/{incidentId}/alerts/unlabeled':
    get:
      tags:
        - alerts
      summary: 'Get alerts for an incident, that are unlabeled'
      description: Get alerts for an incident as recommended alerts to take action on
      operationId: getUnlabeledAlerts
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            exclusiveMinimum: 0
            default: 100
        - name: rc_bucket
          in: query
          schema:
            $ref: '#/components/schemas/PrcBucket'
        - name: sort_by
          in: query
          required: true
          schema:
            type: string
            enum:
              - rc_probability
              - rc_bucket
            description: Specifies the sort criteria to use
            pattern: ^(rc_probability|rc_bucket)$
            default: rc_probability
        - name: sort_order
          in: query
          required: true
          schema:
            type: object
            description: Sort order
            default: desc
        - name: incidentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSituationRoomAlertList'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
        - ApiKeyAuth: []
      servers:
        - url: 'https://api.moogsoft.ai'
        - url: 'https://api.dev.moogsoft.cloud'
      x-permissions:
        value:
          - 'alerts:view'
        description: Required user permissions for this endpoint
  /v1/situation-room/alerts/unlabeled:
    post:
      tags:
        - alerts
      summary: 'Get total count of unlabeled incidents/alerts, for a set of incidents'
      description: 'Count number of incidents and alerts that are unlabeled, given a set of incident IDs'
      operationId: getUnlabeledCount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlabeledRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseUnlabeledResponseDto'
        '400':
          description: Bad Request
        '404':
[...]
