openapi: 3.2.0
info:
  version: 1.3.0
  title: Workflow Engine Standalone Workflows API
  description: This API enables you to create and manage workflows
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: standalone-workflows
  description: Information about independently invokable workflows.
paths:
  /v1/standalone-workflows/usage:
    get:
      tags:
      - standalone-workflows
      summary: Get Workflow Usage By Id
      operationId: getWorkflowUsageById
      parameters:
      - name: id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfStandaloneWorkflowUsageInfo'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - workflows:view
components:
  schemas:
    MoogResponseListOfStandaloneWorkflowUsageInfo:
      type: object
      title: Moog Response List Of Standalone Workflow Usage Info
      description: Workflow Engine API StandaloneWorkflowUsageInfo response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/StandaloneWorkflowUsageInfo'
      required:
      - status
      - data
    MoogFailureResponse:
      type: object
      description: Workflow Engine API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    NameIdPair:
      type: object
      title: Name Id Pair
      properties:
        name:
          type: string
        id:
          type: string
    StandaloneWorkflowUsageInfo:
      type: object
      title: Standalone Workflow Usage Info
      description: Information about where a given standalone workflow is used.
      properties:
        workflow_id:
          type: string
          description: The workflow id that is in-use.
        incident_workflows:
          type: array
          description: The id/name pairs for each incident workflow that is using the identified workflow.
          items:
            $ref: '#/components/schemas/NameIdPair'
        alert_workflows:
          type: array
          description: The id/name pairs for each alert workflow that is using the identified workflow.
          items:
            $ref: '#/components/schemas/NameIdPair'
        menu_actions:
          type: array
          description: The id/name pairs for each menu action that is using the identified workflow.
          items:
            $ref: '#/components/schemas/NameIdPair'
    MoogErrorResponse:
      type: object
      description: Workflow Engine API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Workflow Engine API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
