openapi: 3.2.0
info:
  version: 1.0.0
  title: Similar Incidents Service Similar Incidents Settings API
  description: API for the similar incidents service.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: similar-incidents-settings
  description: Configure similar incident settings such as dedupe key, comparison key, custom
paths:
  /v1/similar-incidents-settings:
    put:
      tags:
      - similar-incidents-settings
      summary: Modifies the attributes used for comparing incidents
      description: Modifies the sets of attributes used for comparing 2 incidents.
      operationId: putSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilaritySettingsDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSimilaritySettingsDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incident-config:edit
        description: Required user permissions for this endpoint
    get:
      tags:
      - similar-incidents-settings
      summary: Gets settings for similar incidents
      description: Gets settings such as what key to use for similarity service.
      operationId: getSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseSimilaritySettingsDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incident-config:view
        description: Required user permissions for this endpoint
components:
  schemas:
    SimilarityKeyType:
      type: string
      enum:
      - dedupe
      - custom
      title: Similarity Key Type
    SimilaritySettingsDto:
      type: object
      title: Similarity Settings Dto
      properties:
        similarity_key_type:
          $ref: '#/components/schemas/SimilarityKeyType'
        key_fields:
          type: array
          minItems: 1
          items:
            type: string
      required:
      - similarity_key_type
      - key_fields
    MoogResponseSimilaritySettingsDto:
      type: object
      title: Moog Response Similarity Settings Dto
      description: Similar Incidents Service API SimilaritySettingsDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/SimilaritySettingsDto'
      required:
      - status
      - data
    MoogFailureResponse:
      type: object
      description: Similar Incidents Service API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Similar Incidents Service API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Similar Incidents Service API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
