openapi: 3.2.0
info:
  version: 1.0.0
  title: Events Integration Events Filters API
  description: API for Apex AIOps Incident Management Events Integration.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: events-filters
  description: Validate filters for events
paths:
  /v1/event-filters/validate:
    post:
      tags:
      - events-filters
      summary: Validate Event Filter
      operationId: validateEventFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterStringDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseFilterStringResultDto'
        '400':
          description: Bad Request
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value: []
        description: Required user permissions for this endpoint
components:
  schemas:
    FilterStringDto:
      type: object
      title: Filter String Dto
      description: A filter string to validate
      properties:
        filterString:
          type: string
          description: The filter string to validate
          pattern: \S
          examples:
          - severity = Clear AND source = www.my-source.com
      required:
      - filterString
    MoogFailureResponse:
      type: object
      description: Events Integration failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseFilterStringResultDto:
      type: object
      title: Moog Response Filter String Result Dto
      description: Events Integration FilterStringResultDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/FilterStringResultDto'
      required:
      - status
      - data
    FilterStringResultDto:
      type: object
      title: Filter String Result Dto
      description: The result of validating a filter string
      properties:
        isValid:
          type: boolean
    MoogErrorResponse:
      type: object
      description: Events Integration error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Events Integration
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
