openapi: 3.2.0
info:
  version: 1.1.0
  title: Collector V2 Collector Upgrade Schedules Resource API
  description: This API enables you to work with collectors
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: Collector Upgrade Schedules Resource
paths:
  /v2/collector-upgrade-schedules:
    get:
      tags:
      - Collector Upgrade Schedules Resource
      summary: Get the collector upgrade schedule(s)
      description: Get the collector upgrade schedule(s).
      operationId: getCollectorUpgradeSchedules
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfCollectorUpgradeScheduleDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:view
        description: Required user permissions for this endpoint
  /v2/collector-upgrade-schedules/{id}:
    patch:
      tags:
      - Collector Upgrade Schedules Resource
      summary: Update the collector upgrade schedule
      description: Update the collector upgrade schedule.
      operationId: updateCollectorUpgradeSchedule
      parameters:
      - name: id
        in: path
        description: The collector upgrade schedule id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseCollectorUpgradeScheduleDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseCollectorUpgradeScheduleDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - integrations:edit
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogResponseListOfCollectorUpgradeScheduleDto:
      type: object
      description: Collector V2 API CollectorUpgradeScheduleDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/CollectorUpgradeScheduleDto'
      required:
      - status
      - data
    MoogResponseCollectorUpgradeScheduleDto:
      type: object
      description: Collector V2 API CollectorUpgradeScheduleDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/CollectorUpgradeScheduleDto'
      required:
      - status
      - data
    BaseCollectorUpgradeScheduleDto:
      type: object
      title: Base Collector Upgrade Schedule Dto
      description: Base collector upgrade schedule.
      properties:
        days_of_week:
          type: array
          description: Days of the week to apply upgrades
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DayOfWeek'
        start_time_of_day:
          type: string
          description: Start time of day to start applying upgrades
        end_time_of_day:
          type: string
          description: End time of day to stop applying upgrades
        release_type:
          $ref: '#/components/schemas/ReleaseType'
          description: Release types should be upgraded (beta includes stable)
        utc_offset:
          type: string
          description: A string indicating the timezone via UTC offset (by default GMT+00:00)
        enabled:
          type: boolean
          description: Boolean indicating if the auto upgrade schedule is enabled or not
      required:
      - days_of_week
      - start_time_of_day
      - end_time_of_day
      - release_type
      - utc_offset
      - enabled
    CollectorUpgradeScheduleDto:
      type: object
      title: Collector Upgrade Schedule Dto
      description: Collector upgrade schedule with base and generated attributes.
      properties:
        days_of_week:
          type: array
          description: Days of the week to apply upgrades
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DayOfWeek'
        start_time_of_day:
          type: string
          description: Start time of day to start applying upgrades
        end_time_of_day:
          type: string
          description: End time of day to stop applying upgrades
        release_type:
          $ref: '#/components/schemas/ReleaseType'
          description: Release types should be upgraded (beta includes stable)
        utc_offset:
          type: string
          description: A string indicating the timezone via UTC offset (by default GMT+00:00)
        enabled:
          type: boolean
          description: Boolean indicating if the auto upgrade schedule is enabled or not
        id:
          type: string
          description: ID of the collector upgrade schedule
      required:
      - days_of_week
      - start_time_of_day
      - end_time_of_day
      - release_type
      - utc_offset
      - enabled
    MoogFailureResponse:
      type: object
      description: Collector V2 API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    DayOfWeek:
      type: string
      enum:
      - MONDAY
      - TUESDAY
      - WEDNESDAY
      - THURSDAY
      - FRIDAY
      - SATURDAY
      - SUNDAY
      title: Day Of Week
    MoogErrorResponse:
      type: object
      description: Collector V2 API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    ReleaseType:
      type: string
      enum:
      - STABLE
      - BETA
      title: Release Type
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Collector V2 API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
