openapi: 3.2.0
info:
  version: 3.0.0
  title: Alerts/Incidents Automation Config API
  description: This API enables you to retrieve and update alerts and incidents, and other APIs relating to them
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: automation-config
  description: Automation config for auto close of alerts and incidents
paths:
  /v1/automation-config:
    patch:
      tags:
      - automation-config
      summary: Update automation config for auto close of alerts and incidents
      description: Update automation config for auto close of alerts and incidents.
      operationId: patchAutomationConfig
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationConfigDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - automation:edit
        description: Required user permissions for this endpoint
    get:
      tags:
      - automation-config
      summary: Get automation config for auto close of alerts and incidents
      description: Get automation config for auto close of alerts and incidents.
      operationId: getAutomationConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseAutomationConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - automation:view
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogErrorResponse:
      type: object
      description: Alerts/Incidents API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: Alerts/Incidents API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseAutomationConfigDto:
      type: object
      description: Alerts/Incidents API AutomationConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/AutomationConfigDto'
      required:
      - status
      - data
    AutomationConfigDto:
      type: object
      title: Automation Config Dto
      properties:
        closeAlertsWhenAllIncidentsClosed:
          type: boolean
          description: When set to true, alerts will be automatically closed when all related incidents are closed. When set to false, alerts will be automatically closed when any related incident is closed.
        closeResolvedIncidentsInSeconds:
          type: integer
          description: Automatically close resolved incidents that have not been updated for XX seconds
          format: int64
        closeResolvedAlertsInSeconds:
          type: integer
          description: Automatically close resolved alerts that have not been updated for XX seconds
          format: int64
        closeIncidentsInSeconds:
          type: integer
          description: Automatically close any incidents that are older than XX seconds
          format: int64
        closeAlertsInSeconds:
          type: integer
          description: Automatically close any alerts that are older than XX seconds
          format: int64
      required:
      - closeAlertsWhenAllIncidentsClosed
      - closeResolvedIncidentsInSeconds
      - closeResolvedAlertsInSeconds
      - closeIncidentsInSeconds
      - closeAlertsInSeconds
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Alerts/Incidents API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
