openapi: 3.2.0
info:
  version: 1.0.0
  title: Create Your Own Integration Custom Integration Traffic API
  description: This API enables you to create and manage custom endpoints for inbound integrations.
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: custom-integration-traffic
  description: Operations for custom integration traffic
paths:
  /v1/integrations/byoapi/{endpointId}/traffic/payloads/{id}:
    get:
      tags:
      - custom-integration-traffic
      summary: Get a specific payload sent to an endpoint
      description: Gets a recent payload sent to an endpoint by id
      operationId: getRecentPayload
      parameters:
      - name: endpointId
        in: path
        description: the unique id of the endpoint
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the unique id of the recent payload
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved recent payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseRecentPayload'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
  /v1/integrations/byoapi/{endpointId}/traffic/summary:
    get:
      tags:
      - custom-integration-traffic
      summary: Get a summary of traffic volume and outcomes for a custom endpoint
      description: Returns statistics about traffic to a given endpoint
      operationId: getTrafficSummary
      parameters:
      - name: endpointId
        in: path
        description: the unique id of the endpoint
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved endpoint summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseTrafficSummaryDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
  /v1/integrations/byoapi/{endpointId}/traffic/payloads:
    get:
      tags:
      - custom-integration-traffic
      summary: Get recent payloads sent to an endpoint
      description: Gets recent payloads sent to an endpoint. Typically, the most recent 1,000 payloads are retained, but that limit may vary subject to system configuration.
      operationId: getAllRecentPayloads
      parameters:
      - name: maxResults
        in: query
        description: the max number of recent payloads to return
        required: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: endpointId
        in: path
        description: the unique id of the endpoint
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved recent payloads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseListOfRecentPayload'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        description: Required user permissions for this endpoint
        value:
        - integrations:view
components:
  schemas:
    TrafficSummaryDto:
      type: object
      title: Traffic Summary Dto
      description: Traffic summary.
      properties:
        numPayloadsHandled:
          type: integer
          description: The number of payloads handled.
          format: int64
        numPayloadsFailed:
          type: integer
          description: The number of payloads failed.
          format: int64
    MoogResponseRecentPayload:
      type: object
      title: Moog Response Recent Payload
      description: Create Your Own Integration API RecentPayload response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/RecentPayload'
      required:
      - status
      - data
    MoogResponseListOfRecentPayload:
      type: object
      title: Moog Response List Of Recent Payload
      description: Create Your Own Integration API RecentPayload response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          type: array
          items:
            $ref: '#/components/schemas/RecentPayload'
      required:
      - status
      - data
    RecentPayload:
      type: object
      title: Recent Payload
      description: Recent payloads recieved by an endpoint
      properties:
        payloadProcessingResult:
          type: string
        errorMessage:
          type: string
        id:
          type: string
        sourceIp:
          type: string
        traceId:
          type: string
        timestamp:
          type: integer
          format: int64
        payload:
          type: array
          items:
            type: object
        _raw:
          type: string
    MoogFailureResponse:
      type: object
      description: Create Your Own Integration API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogErrorResponse:
      type: object
      description: Create Your Own Integration API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogResponseTrafficSummaryDto:
      type: object
      title: Moog Response Traffic Summary Dto
      description: Create Your Own Integration API TrafficSummaryDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/TrafficSummaryDto'
      required:
      - status
      - data
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Create Your Own Integration API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
