openapi: 3.2.0
info:
  version: 3.0.0
  title: Alerts/Incidents Incident Tags Config API
  description: This API enables you to retrieve and update alerts and incidents, and other APIs relating to them
  termsOfService: https://www.moogsoft.com/legal-information/express-terms-conditions/
  contact:
    name: API Support
    url: https://docs.moogsoft.com/en/moogsoft-apis.html
    email: support@moogsoft.com
  license:
    url: https://www.moogsoft.com/legal-information
    name: Apex AIOps Incident Management Proprietary
servers:
- url: https://api.moogsoft.ai
- url: https://api.dev.moogsoft.cloud
security:
- ApiKeyAuth: []
tags:
- name: incident-tags-config
  description: Incident tags configuration
paths:
  /v1/incident-tags-config:
    patch:
      tags:
      - incident-tags-config
      summary: Update tags config for incidents
      description: Update tags config for incidents.
      operationId: patchIncidentTagsConfig
      requestBody:
        description: Configs used to update existing configs.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentTagsConfigDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incident-config:edit
        description: Required user permissions for this endpoint
    get:
      tags:
      - incident-tags-config
      summary: Get tags config for incidents
      description: Get tags config for incidents.
      operationId: getIncidentTagsConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogResponseIncidentTagsConfigDto'
        '400':
          description: Invalid parameters or data validation violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        '404':
          description: Requested object(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        4XX:
          description: Authorization or other error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogFailureResponse'
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoogErrorResponse'
      security:
      - ApiKeyAuth: []
      servers:
      - url: https://api.moogsoft.ai
      - url: https://api.dev.moogsoft.cloud
      x-permissions:
        value:
        - incident-config:view
        description: Required user permissions for this endpoint
components:
  schemas:
    MoogResponseIncidentTagsConfigDto:
      type: object
      description: Alerts/Incidents API IncidentTagsConfigDto response body
      properties:
        status:
          type: string
          description: Success status indicator (always "success")
          examples:
          - success
        data:
          $ref: '#/components/schemas/IncidentTagsConfigDto'
      required:
      - status
      - data
    MoogErrorResponse:
      type: object
      description: Alerts/Incidents API error response body
      properties:
        status:
          type: string
          description: Error status indicator (always "error")
          examples:
          - error
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    MoogFailureResponse:
      type: object
      description: Alerts/Incidents API failure response body
      properties:
        status:
          type: string
          description: Failure status indicator (always "failure")
          examples:
          - failure
        message:
          type: string
        additional:
          type: array
          items:
            type: string
      required:
      - status
      - message
    IncidentTagsConfigDto:
      type: object
      title: Incident Tags Config Dto
      properties:
        tags_propagation:
          type: boolean
          description: Flag to enable/disable incident tags propagation
        tags:
          type: array
          description: List of flags to propagate. NULL will propagate all. Empty will propagate none.
          items:
            type: string
        tagsPropagation:
          type: boolean
          description: Use tags_propagation instead
          x-deprecated: true
      required:
      - tags_propagation
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API Key for accessing Alerts/Incidents API
      name: apiKey
      in: header
externalDocs:
  url: https://docs.moogsoft.com/en/moogsoft-apis.html
  description: Find out more about Apex AIOps Incident Management
